<span style='color: #000' title='Frames'>   301</span><span style='color: #009' title='Memory'>  14336.00 KB</span><span style='color: #900' title='Time'>   1899.94 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />