@font-face {
  font-family: 'tzilla-icons';
  src: url('../fonts/tzilla-icons.eot?33651595');
  src: url('../fonts/tzilla-icons.eot?33651595#iefix') format('embedded-opentype'),
       url('../fonts/tzilla-icons.woff2?33651595') format('woff2'),
       url('../fonts/tzilla-icons.woff?33651595') format('woff'),
       url('../fonts/tzilla-icons.ttf?33651595') format('truetype'),
       url('../fonts/tzilla-icons.svg?33651595#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?33651595#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tzilla-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow-left-2:before { content: '\e800'; } /* '' */
.icon-arrow-right-2:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-caret-down:before { content: '\e803'; } /* '' */
.icon-caret-leftt:before { content: '\e804'; } /* '' */
.icon-caret-right:before { content: '\e805'; } /* '' */
.icon-caret-up:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-circle:before { content: '\e808'; } /* '' */
.icon-circled-arrow-left-1:before { content: '\e809'; } /* '' */
.icon-circled-arrow-right-1:before { content: '\e80a'; } /* '' */
.icon-circled-check:before { content: '\e80b'; } /* '' */
.icon-circled-minus:before { content: '\e80c'; } /* '' */
.icon-circled-plus:before { content: '\e80d'; } /* '' */
.icon-circled-x:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-email-2:before { content: '\e810'; } /* '' */
.icon-hoodie:before { content: '\e811'; } /* '' */
.icon-jacket:before { content: '\e812'; } /* '' */
.icon-locked:before { content: '\e813'; } /* '' */
.icon-men-tshirt:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-pencil-edit:before { content: '\e816'; } /* '' */
.icon-phone:before { content: '\e817'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-square:before { content: '\e819'; } /* '' */
.icon-tanktop:before { content: '\e81a'; } /* '' */
.icon-unlocked:before { content: '\e81b'; } /* '' */
.icon-upload:before { content: '\e81c'; } /* '' */
.icon-user-icon:before { content: '\e81d'; } /* '' */
.icon-women-shirt:before { content: '\e81e'; } /* '' */
.icon-email:before { content: '\e81f'; } /* '' */
.icon-facebook:before { content: '\e820'; } /* '' */
.icon-gplus:before { content: '\e821'; } /* '' */
.icon-instagram:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: '\e823'; } /* '' */
.icon-sax:before { content: '\e824'; } /* '' */
.icon-skull:before { content: '\e826'; } /* '' */
.icon-snowboarding:before { content: '\e827'; } /* '' */
.icon-soccer:before { content: '\e828'; } /* '' */
.icon-softball:before { content: '\e829'; } /* '' */
.icon-spade:before { content: '\e82a'; } /* '' */
.icon-stache:before { content: '\e82b'; } /* '' */
.icon-star:before { content: '\e82c'; } /* '' */
.icon-swimming:before { content: '\e82d'; } /* '' */
.icon-tennis:before { content: '\e82e'; } /* '' */
.icon-tophat:before { content: '\e82f'; } /* '' */
.icon-trackfield:before { content: '\e830'; } /* '' */
.icon-trombone:before { content: '\e831'; } /* '' */
.icon-trumpet:before { content: '\e832'; } /* '' */
.icon-tuba:before { content: '\e833'; } /* '' */
.icon-volleyball:before { content: '\e834'; } /* '' */
.icon-weights:before { content: '\e835'; } /* '' */
.icon-wrestling:before { content: '\e836'; } /* '' */
.icon-xylophone:before { content: '\e837'; } /* '' */
.icon-academic:before { content: '\e838'; } /* '' */
.icon-anchor:before { content: '\e839'; } /* '' */
.icon-arts:before { content: '\e83a'; } /* '' */
.icon-asb:before { content: '\e83b'; } /* '' */
.icon-atom:before { content: '\e83c'; } /* '' */
.icon-bandleader:before { content: '\e83d'; } /* '' */
.icon-baseball:before { content: '\e83e'; } /* '' */
.icon-basketball:before { content: '\e83f'; } /* '' */
.icon-bolt:before { content: '\e840'; } /* '' */
.icon-book:before { content: '\e841'; } /* '' */
.icon-bowtie:before { content: '\e842'; } /* '' */
.icon-cheer:before { content: '\e843'; } /* '' */
.icon-chess:before { content: '\e844'; } /* '' */
.icon-choir:before { content: '\e845'; } /* '' */
.icon-clarinet:before { content: '\e846'; } /* '' */
.icon-clover:before { content: '\e847'; } /* '' */
.icon-club:before { content: '\e848'; } /* '' */
.icon-crown:before { content: '\e849'; } /* '' */
.icon-cymbals:before { content: '\e84a'; } /* '' */
.icon-dance:before { content: '\e84b'; } /* '' */
.icon-debate:before { content: '\e84c'; } /* '' */
.icon-diamond:before { content: '\e84d'; } /* '' */
.icon-drama:before { content: '\e84e'; } /* '' */
.icon-drums:before { content: '\e84f'; } /* '' */
.icon-filmvideo:before { content: '\e850'; } /* '' */
.icon-flute:before { content: '\e851'; } /* '' */
.icon-football:before { content: '\e852'; } /* '' */
.icon-frenchhorn:before { content: '\e853'; } /* '' */
.icon-globe:before { content: '\e854'; } /* '' */
.icon-gradcap:before { content: '\e855'; } /* '' */
.icon-heart:before { content: '\e856'; } /* '' */
.icon-hockey:before { content: '\e857'; } /* '' */
.icon-horseshoe:before { content: '\e858'; } /* '' */
.icon-keyclub:before { content: '\e859'; } /* '' */
.icon-lacrosse:before { content: '\e85a'; } /* '' */
.icon-lightbulb:before { content: '\e85b'; } /* '' */
.icon-rose:before { content: '\e85c'; } /* '' */
.icon-skking:before { content: '\e85d'; } /* '' */

/*********IE7***********/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'tzilla-icons';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}