body {
	outline: 0!important;
	text-decoration: none!important;
}
button:focus {
	outline:0!important;
}
.mob-slide-btn {
	color: #000!important;
}
.tzilla-logo {
	padding: 15px;
}
.header  {
	background-color: #ffffff!important;
	border-bottom: 2px solid #e9e9e9!important;
}
.app .content {
	background: #fafafa;
}
.sidebar {
	background-color: #1b1b1b!important;
}
.dash-title {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: none!important;
}
.dash-subtitle {
	/*padding-bottom: 15px;*/
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e5ea!important;
}
.margin-btn {
	margin-top:9%;
}
.margin-btn2 {
	margin-top:0%;
}
.active {
	background-color: #252525 !important;
    color: #ffffff !important;
}
.ref-id {
	background: #b2b2b2!important;
    /*text-align: center!important;*/
    color: #fff!important;
    margin-bottom: 0px!important;
    height: auto!important;
}
.white-bg {
	background-color: #fff;
}
.whitez {
    color: #fff!important;
}
.cart-zoom {
	top: 5px!important;
}
.style-color-pad {
	padding-bottom: 20px!important;
}
.shirt-style-pad {
	padding-bottom: 44px!important;
}
.size-holder {
	padding: 4px!important;
}
.today-sales-lbl {
	margin-top: 3.5%;
}
/* custom btn */
.green-cstm-btn {
	border: 1px solid #7fc241;
    border-radius: 4px;  
    height: 40px;
    background: #7fc241;
}
.gray-cstm-btn {
	background: #b2b2b2;
	border: 1px solid #b2b2b2;
    border-radius: 4px;
    height: 40px;
}
.orange-cstm-btn {
	border: 1px solid #e98b1d;
    border-radius: 4px;
    height: 40px;
    background: #f6921e;
}
.dashb-btn {
	width: 125px!important;
}
.tb-cell {
	display: table;
	width: 100%;
}
.tb-child {
	display: table-cell;
	height: 100px;
}
.total-sales-label {
	height: 40px!important;
}
.long-text {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spec-color {
    display: inline-block;
    width: 22px;
    height: 22px;
    /*background: #333;*/
    border-radius: 5px;
    vertical-align: bottom;
}
.img-holder {
	padding-top: 5%;
    padding-bottom: 5%;
}
.borders-sales-details {
	border-bottom: 2px solid #cdcdcd;
}
.borders-design-styles {
	border-bottom: 1px solid #cdcdcd;
}

.search_results{
    display: none;
    z-index: 2;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    background: #fff;
    overflow-y: hidden;
    height: auto;
    overflow-x: hidden;
}

.search-results-overflow {
    height: 250px!important;
    overflow-y: scroll;
    overflow-x: hidden;
}   

.search_selected {
    background-color: #f5f5f5;
}

.search_active {
    color: #08c;
    cursor: pointer;
}

.search_item{
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
}
.no-bullet {
    list-style: none;
}
.tzilla-green {
    color: #7fc241!important;
}
.tzilla-green:hover {
    text-decoration: underline!important;
}
.succcess {
    background-color: #7fc241!important; 
    border-color: #7fc241!important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle!important;
}
.dropdown-menu {
    top: 86%;
    min-width: 100%;
    border-radius: 4px 0 4px 4px!important;
    background: #363636;
}
.dropdown-item {
    font-size: 15px;
}
.header .header-block-nav .dropdown-menu {
    margin-top: 3px!important;
}
.header .header-block-nav .profile-dropdown-menu a {
    padding: 3px 20px!important;
    color: #fff!important;
    clear: both!important;
}
.header .header-block-nav .profile-dropdown-menu a:hover {
    background: none;
}
/*breadcrumbs*/
.breadcrumb-dash {
    background-color: #fff!important;
}
.breadcrumb-dash-mob {
    background-color: #fafafa!important;
    display: none;
}
.active-dash {
    background-color: none!important;
    /*color: #252525!important;*/
    font-weight: 700;
}
.head-bg {
    background: #363636!important;
}

.breadcrumb>li a {
    color: #717171;
}
.breadcrumb>li a:hover {
    color: #717171;
}
a:hover, a:focus {
    color: #e1dfdf;
    text-decoration: underline;
}
.header-dropdown2 {
    background: #363636!important;
    border-color: #363636!important;
}
.balance-cont {
    margin-right: 15px;
}
/**/
/* end custom btn */
/* loader */
.loader-container {
    content: '';
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 20%;
    z-index: 9998;
}
#loader-img {
    background: url(../images/tzloader.gif) center no-repeat;
    z-index: 9999;
    margin: 0 auto;
    height: 100%;
}

.update-profile-loader {
    display: none;
}
.img-loader {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

/* scrollbar handle bar */
/*::-webkit-scrollbar-thumb {
    border-radius:5px!important;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dcdcdc!important;
}
::-webkit-scrollbar {
  width: 15px!important;
  height: 15px!important; 
}*/

/* end handle bar*/
/* responsive */
@media screen and (max-width: 1510px) {
	.mob-btn {
		line-height: 1;
    	font-size: 12px!important;
	}
}

@media screen and (max-width: 991px) {
    .breadcrumb-dash {
        display: none;
    }
    .breadcrumb-dash-mob {
        display: block;
    }
	.mob-btn {
		line-height: 0;
    	font-size: 15px!important;
	}
	.dash-title {
		padding-bottom: 5px;
    	margin-bottom: 0px;
	}
	.margin-btn2 {
		margin-top: 3%;
	}
    .margin-btn {
        margin-top: 5%;
    }
}
@media screen and (max-width: 767px) {
    .pad-mob {
        margin-top: 10%;
    }
}

/* end responsive */