
<table>
<tr rowspan="3">
<td></td>
</tr>

<tr>
<th>Action:</th>
<td>
<select id="selAction" class="col-sm-12">
</select>
</td>
</tr>
<tr>
<th>CSR:</th>
<td>
<select id="selCSR" class="col-sm-12">
</select>
</td>
</tr>
<tr>
<th>Date Range:</th>
<td>
<div class="col-sm-6 clear-pad" style="padding-right:10px;">
						<div class="input-group date input-append" id="datepicker1">
							<input id="start-date" type="text" class="form-control" placeholder="From" data-format="yyyy-MM-dd">
							 <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
							 </span>
						</div>
					</div>
                    <div class="col-sm-6 clear-pad" style="padding-right:10px;">
						<div class="input-group date input-append" id="datepicker2">
							<input id="end-date" type="text" class="form-control" placeholder="To" data-format="yyyy-MM-dd">
							 <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
							 </span>
						</div>
					</div>
</td>
</tr>
<tr> 
<th>Limit Records:</th>
<td>
<select id="selLimit" class="col-sm-12">
<option value="100">100</option>
<option value="250">250</option>
<option value="500">500</option>
</select>
</td>
</tr>
</table>
<script>
var d = new Date();

var month = d.getMonth()+1;
var day = d.getDate();

var output = d.getFullYear() + '-' +
    (month<10 ? '0' : '') + month + '-' +
    (day<10 ? '0' : '') + day;
$(document).ready(function(){
    $("#start-date").val(output);
    $("#end-date").val(output);
   $("#datepicker1, #datepicker2").datepicker({format: 'yyyy-mm-dd',
            autoclose: true}); 
});

</script>