 	<tr>
    		<th>{order_id}</th>
    		<th>{erp_so}</th>
        <th></th>
        <th>{store_name}</th>
        <th>{total}</th>
        <th>{order_date}</th>
        <th>{payment_state}</th>
        <th>{order_status}</th>
        <th><button type="button" class="btn btn-warning sales-view" id="sales_Order" data-id="{order_id}" style="padding: 1px 10px;width:100px;" >View</button></th>
  	</tr>