.about-header {
    width: 100%;
    min-height: 242px;
    padding: 45px 0px;
    padding-bottom: 0;
    background: url(../images/contact-bg.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.cont-holder {
    margin-top: 5%;
    margin-bottom: 5%;
}
.latest-post-lbl {
    padding-top: 20px;
}
.number-txt {
    font-family: 'gibsonbold';
    font-size: 110px;
    z-index: 1;
}
.over-number {
    top: 69px;
    z-index: 2;
    position: absolute;
    width: 100%;
    background: #fff;
    left: -2%;
}
.journal-side-bg {
    background: #e1dfdf;
}
