.super-custom-btn {
	background: #7fc241 url('../images/sc-icon.png');
    border-color: #7fc241;
	background-repeat:no-repeat;
	background-position: 5% 50%;
    background-size: 20px;
    padding-left: 50px;
    padding-right: 30px;
    border: 0;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}
.super-custom-btn:hover {
	background: #75b837 url('../images/sc-icon.png');
    border-color: #75b837;
	background-repeat:no-repeat;
	background-position:5% 50%;
	background-size:20px;
}