.cart-review-header {
	width: 100%;
    min-height: 242px;
    padding: 45px 0px;
    padding-bottom: 0;
    background: url(../images/jersey-background.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.review-design-header {
	background:#f1f1f1;
	padding: 34px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
}
.camp-horn {
	display: inline-block;
    padding-right: 15px;
    position: relative;
    top: -5px;
}
.create-camp-link {
	color:#797979;
	text-decoration: underline;
}
.create-camp-link:hover {
	color:#010101;
}
.review-design-section {
	padding-top: 25px;
    padding-bottom: 25px;
	position: relative;
}
.cart-review-item-holder {
	border:1px solid #ccc;
	position:relative;
	margin-bottom: 18%;
}
.cart-review-remove {
	width:28px;
	height:28px;
	position:absolute;
	top:5px;
	right:5px;
	background: url(../images/remove-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	z-index: 1;
}
.cart-review-remove:hover {
	background: url(../images/remove-button-hover.png) center center no-repeat;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.cart-review-zoom {
	width:28px;
	height:27px;
	position:absolute;
	top:38px;
	right:5px;
	background: url(../images/zoom-button.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	z-index: 1;
}
.cart-review-zoom:hover {
	background: url(../images/zoom-button-hover.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cart-review-shirt-holder {
	position: relative;
    /* padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%; */
}
.shirt-col {
	background: #2b2b2b;
}
.left-right-parent {
	background: #f0efef;
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.review-title-left {
	float: left;
    width: 50%;
    background: #f0efef;
    padding: 10px;
	padding-bottom:20px;
    
}
.review-title {
	display:block;
}
.review-title-right {
	float: left;
    width: 50%;
    background: #f0efef;
    padding: 10px;
	padding-bottom:18px;
  /*   border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
	text-align:center;
}
.review-color {
	display: block;
    width: 24px;
    height: 24px;
    background: #2b2b2b;
    border-radius: 2px;
    margin: 0 auto;
	position: relative;
    top: 6px;
}
.review-size-quantity {
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 22px;
    padding-right: 22px;
}
.sq-title {
	padding-bottom: 10px;
}
.input-holder-left {
	width:100%;
	height: 110px;
	float: left;
}
.input-holder-right {
	width:40%;
	float: left;
}
.sq-holder {
	position:relative;
	display:inline-block;
	padding: 2px;
}
.sq-label {
	display:block;
}
.sq-text {
	width:28px;
	height:28px;
	border:1px solid #ccc;
	border-radius:none;
}
.review-price-left {
	float: left;
    width: 50%;
	border-right: 1px solid #ccc;
	padding-top: 25px;
    padding-bottom: 25px;
	background:#fafafa;
}
.review-price-right {
	float: left;
    width: 50%;
	padding-top: 25px;
    padding-bottom: 25px;
}
.proceed-btn {
	letter-spacing:1px;
}
.design-container {
	top: 8%;
	min-height:auto;
}
.reviewdesign-cont-item-holder {
	position:relative;
	padding: 20px;
	padding-bottom: 90px;
}
.total-items-holder {
	padding-left: 18px;
    padding-right: 18px;
}
.total-border {
	border:2px solid #f47522;
	border-radius:5px;
	padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
	margin-top: 20px;
}
.confirm-header {
	background:#000;
	padding: 15px;
	height: 50px;
}
.zoom-modal-holder {
	background:#010101;
	border: none;
    border-radius: 0;
}
.confirm-modal-holder, .sizechart-modal-holder {
	background:#fff;
	border: none;
    border-radius: 0;
}
.img-zoom-holder {
	padding: 20%;
}
.popup-close {
	position: relative;
    top: 10px;
    right: 5px;
	z-index: 1;
}
.warning-label1 {
	padding-top:15px;
}
.warning-img-holder {
	padding-top:12px;
}
.warning-label2 {
	padding-top: 35px;
    padding-bottom: 45px;
}
.confirm-btn-holder {
	padding-bottom:20px;
}
.nogoback-btn, .yesremove-btn {
	width: 218px;
    display: block;
	margin: 0 auto;
	margin-bottom:25px;
}
/*.sizechart-label1 {
	padding-top: 15px;
    padding-bottom: 15px;
}*/
.sizechart-img-holder {
	margin-bottom: 35px;
}
.table {
	margin-bottom: 28px;
}

.proceed-loader {
	display: none;
}
.img-loader {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
}


@media only screen and (min-width: 320px) {
	.review-design-header {
		padding-left:0;
		padding-right:0;
		padding-top: 25px;
		text-align: center;
	}
	.review-design-header a {
		font-size: 18px;
	}
	.design-container {
		top: 15%;
	}
}

@media only screen and (min-width: 480px) {
	.review-design-header {
		padding-left:0;
		padding-right:0;
		padding-top: 25px;
		text-align: center;
	}
	.design-container {
		top: 10%;
	}
}
@media only screen and (min-width: 768px) { 
	
}
@media only screen and (max-width: 768px) {
	.create-camp-instead {
		margin-bottom: 2%;
	}
	
}

@media only screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1200px) {
	
	
}
