a.green:hover {
	color:#7fc241;
}
.shipping-outer {
	position:relative;
	border-right:1px solid #e1e1e1;
}
.shipping-inner {
	position: relative;
    width: 86%;
	margin-top: 13%;
}
.row-line {
	position:relative;
	padding-bottom:7px;
}
.row-line label {
	margin-bottom: 0;
}
.shipping-col-left {
	width:49%;
	float:left;
	margin-right:2%;
}
.shipping-col-right {
	width:49%;
	float:left;
}
.shipping-col-one, .shipping-col-two {
	width:38%;
	float:left;
	margin-right:2%;
}
.shipping-col-three {
	width:20%;
	float:left;
}
.shipping-title1 {
	margin-bottom: 20px;
}
.shipping-title2 {
	margin-top: 20px;
    margin-bottom: 5px;
}
.checkout-input {
	border:1px solid #b2b2b2;
}
.checkout-select {
	border:1px solid #b2b2b2;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:#fff url("../images/dropdown-arrow.jpg");
	background-repeat:no-repeat;
	background-position:92% center;
}
.shipping-radio-cont {
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    padding: 12px;
    padding-left: 20px;
	padding-right: 15px;
}
.green-circle {
    border: 1px solid #ccc;
    border-radius: 100px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
    box-shadow: none;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
	margin: 0 !important;
}
.green-circle:after {
    background-color: transparent;
    border-radius: 100px;
    content: '';
    display: block;
}
.green-circle:checked:after {
    border: 7px solid #7fc241;
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    left: -1px;
}
.green-circle:focus {
	outline: none!important;
}
.radio-title {
	vertical-align: middle;
    padding-left: 8px;
}
.radio-val {
	float: right;
    vertical-align: middle;
}
.proceeder-cont {
	margin-top: 8%;
    margin-bottom: 8%;
    position: relative;
}
.checker-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #b2b2b2;
	background:#fff;
    border-radius: 5px;
    /* margin-right: 10px; */
	cursor:pointer;
	vertical-align: middle;
}
.checker-box2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #b2b2b2;
	background:#fff;
    border-radius: 5px;
    /* margin-right: 10px; */
	cursor:pointer;
	vertical-align: top;
}
.selected {
	background:#7fc241 url("../images/check-white.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:10px;
	border: 1px solid #7fc241;
}
.checkbox-label {
    color: #7fc241;
	vertical-align: middle;
	line-height:40px;
	padding-left: 8px;
}
.footer-holder {
	border-top: 1px solid #ccc;
    margin-top: 5%;
}
.footer-links {
    display: inline-block;
    padding: 8px;
	padding-left: 0;
    line-height: 35px;
	text-decoration: none;
	color: #7fc241;
}
.footer-links:hover {
	color: #75b837;
	text-decoration: none;
}

/*****************RIGHT COLUMN*****************/
.discount-holder-main {
	position:relative;
}
.discount-holder-main:after {
	content: "";
    display: block;
    width: 300%;
    height: 500%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fafafa;
    z-index: -1;
    left: 0;
    background-position: left top;
    box-shadow: 1px 0 0 #e1e1e1 inset;
    overflow: hidden;
}
.discount-holder-outer {
	padding-left: 7px;
    padding-right: 7px;
    position: relative;
    margin-top: 34%;
}
.discount-holder-cont {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.discount-holder-inner {
	display: block;
	width: 100%;
}
.checkout-apply-btn {
	display: inline-block;
    width: auto;
    margin-left: 0.9em;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 1.7em;
    height: 41px;
}
.discount-holder-summary {
	margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.discount-holder-perline {
	padding-bottom: 5px;
}


/****************PAYMENT METHOD******************/
.payment-cc-cont {
	border: 1px solid #b2b2b2;
    padding: 20px;
    border-top: 0;
	background:#fafafa;
}
.cc-number {
	background:#fff url("../images/lock-icon.jpg");
	background-repeat:no-repeat;
	background-position: 97% center;
	
}
.cc-cards {
	display:inline-block;
	vertical-align:top;
}
.cc-more {
	display:inline-block;
	vertical-align:bottom;
}
.cc-holder {
	float:right;
}
.cc-col-left, .cc-col-right {
	float:left;
	width:23.5%;
}
.payment-radio-cont {
	border-radius: 3px 3px 0 0;
	/*border-bottom: 0;*/
}
.payment-radio-cont2 {
	/*border-top:0;
	border-radius: 0;*/
	border-radius: 0 0 3px 3px;
}
.hide-bill {
	border-radius: 0 0 3px 3px;
}
.bill-add-label {
	padding-top:20px;
	padding-bottom: 8px;
}
.payment-billing-cont {
	border: 1px solid #b2b2b2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
	padding-bottom: 10px;
    border-top: 0;
	border-radius: 0 0 3px 3px;
}
.payment-billing-cont-hide {
	display:none;
}
.cvv-number {
	background:#fff url("../images/question-mark-icon.jpg");
	background-repeat:no-repeat;
	background-position: 92% center;
}
.checkbox-label2 {
	color: #b2b2b2;
    display: inline-block;
    vertical-align: middle;
	text-align: left;
}
.checkbox-label3 {
	color: #e11e1e;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
	text-align:left;
}
.proceeder-cont2 {
    margin-top: 3%;
    margin-bottom: 9%;
    position: relative;
}
.proceeder-one {
	float:left;
	    width: 4%;
}
.proceeder-two {
	float:left;
	width: 58%;
	padding-left: 5px;
    padding-right: 5px;
}
.proceeder-three {
	float:left;
	width: 38%;
	padding-left: 15px; 
}
.payment-outer {
	margin-top: 33%;
}

/*******************ORDER CONFIRMATION*****************/
.orderconf-header {
	padding-top:40px;
	padding-bottom:30px;
	max-width: 584px;
    margin: 0 auto;
}
.orderconf-header-left {
	float:left;
}
.orderconf-header-right {
	float:left;
	padding-left: 20px;
}
.order-trace-number {
	display:block;
}
.order-label {
	display:block;
	margin: 0;
}
.shirt-col {
	background:#a92626;
}
.orderconf-main-holder {
	border: 1px solid #b2b2b2;
    max-width: 584px;
    border-radius: 4px;
    margin: 0 auto;
}
.orderconf-first-layer {
	border-bottom: 1px solid #b2b2b2;
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.orderconf-second-layer {
	border-bottom: 1px solid #b2b2b2;
    position: relative;
    padding-top: 30px;
    /*padding-bottom: 40px;*/
    padding-bottom: 30px;
    padding-left: 22px;
    padding-right: 22px;
}
.orderconf-second-left {
	position: relative;
    width: 43%;
    float: left;
}
.orderconf-design-holder {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 21%;
    width: 24%;
}
.orderconf-second-right {
	position: relative;
    width: 57%;
    float: left;
}
.orderconf-icon-holder {
	position: relative;
    text-align: center;
    /*padding-right: 27px;*/
    padding-right: 0px;
    padding-top: 24px;
}
.orderconf-icon-holder span {
	font-size: 40px;
    cursor: pointer;
    display: inline-block;
    margin: -3px;
	color:#7fc241;
}
.orderconf-icon-holder span:hover {
	color:#75b837;
}
.orderconf-third-layer {
	position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.padd {
	margin-bottom: 7px;
}
.padd2 {
	margin-top: 30px;
}
.orderconf-third-left {
	float:left;
	width:30%;
}
.orderconf-third-right {
	float:right;
	width:30%;
}
.orderconf-footer {
	padding-top:20px;
	padding-bottom:50px;
	max-width: 584px;
    margin: 0 auto;
}
.orderconf-btn {
	height:50px;
	line-height:50px;
}

/**************************RESPONSIVE***********************/

@media only screen and (min-width: 320px) {
	.discount-holder-outer {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.discount-holder-main:after {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}
	.shipping-outer {
		border:0;
	}
	.shipping-inner {
		width: 100%;
		margin-top: 6%;
	}
	.proceeder-cont {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.proceeder-two {
		width: 96%;
	}
	.proceeder-three {
		width: 100%;
		margin-top:20px;
	}
	.shipping-col-one, .shipping-col-two, .shipping-col-three {
		width:32%;
	}	
	.cc-holder {
		float:none;
		display:block;
	}
	.orderconf-second-left {
		width:100%;
	}
	.orderconf-second-right {
		width:100%;
		text-align: center;
		padding-top: 20px;
	}
	.orderconf-icon-holder {
		padding-right: 0;
	}
	.orderconf-third-left, .orderconf-third-right {
		width:45%;
	}
	.orderconf-btn {
		margin-bottom:20px;
	}
}

@media only screen and (min-width: 480px) {
	.discount-holder-outer {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.discount-holder-main:after {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}
	.shipping-outer {
		border:0;
	}
	.shipping-inner {
		width: 100%;
		margin-top: 6%;
	}
	.proceeder-cont {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.proceeder-two {
		width: 96%;
	}
	.proceeder-three {
		width: 100%;
		margin-top:20px;
	}
	.shipping-col-one, .shipping-col-two {
		width:38%;
	}
	.shipping-col-three {
		width: 20%;
	}
	.cc-holder {
		float:right;
		display:block;
	}
	.orderconf-second-left {
		width:100%;
	}
	.orderconf-second-right {
		width:100%;
		text-align: center;
		padding-top: 20px;
	}
	.orderconf-icon-holder {
		padding-right: 0;
	}
	.orderconf-third-left, .orderconf-third-right {
		width:35%;
	}
	.orderconf-btn {
		margin-bottom:20px;
	}
}

@media only screen and (min-width: 640px) {
	.discount-holder-outer {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.discount-holder-main:after {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}
	.shipping-outer {
		border:0;
	}
	.shipping-inner {
		width: 100%;
		margin-top: 6%;
	}
	.proceeder-cont {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.proceeder-two {
		width: 58%;
	}
	.proceeder-three {
		width: 38%;
		margin-top:0;
	}
	.shipping-col-one, .shipping-col-two {
		width:38%;
	}
	.shipping-col-three {
		width: 20%;
	}
	.cc-holder {
		float:right;
		display:block;
	}
	.orderconf-second-left {
		width:100%;
	}
	.orderconf-second-right {
		width:100%;
		text-align: center;
		padding-top: 20px;
	}
	.orderconf-icon-holder {
		padding-right: 0;
	}
	.orderconf-third-left, .orderconf-third-right {
		width:35%;
	}
	.orderconf-btn {
		margin-bottom:20px;
	}
	
}

@media only screen and (min-width: 768px) {
	.discount-holder-outer {
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.discount-holder-main:after {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}
	.shipping-outer {
		border:0;
	}
	.shipping-inner {
		width: 100%;
		margin-top: 6%;
	}
	.proceeder-cont {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.proceeder-two {
		width: 58%;
	}
	.proceeder-three {
		width: 38%;
		margin-top:0;
	}
	.shipping-col-one, .shipping-col-two {
		width:38%;
	}
	.shipping-col-three {
		width: 20%;
	}
	.cc-holder {
		float:right;
		display:block;
	}
	.orderconf-second-left {
		width:43%;
	}
	.orderconf-second-right {
		width:57%;
		text-align: left;
		padding-top: 0;
	}
	.orderconf-icon-holder {
		padding-right: 0;
		/*padding-right: 27px;*/
	}
	.orderconf-third-left, .orderconf-third-right {
		width:30%;
	}
	.orderconf-btn {
		margin-bottom:0;
	}
}

@media only screen and (min-width: 992px) {
	.discount-holder-outer {
		margin-top: 34%;
		margin-bottom: 0;
	}
	.discount-holder-main:after {
		width: 300%;
		height: 500%;
		box-shadow: 1px 0 0 #e1e1e1 inset;
	}
	.shipping-outer {
		border-right: 1px solid #e1e1e1;
	}
	.shipping-inner {
		width: 86%;
		margin-top: 13%;
	}
	.proceeder-cont {
		margin-top: 8%;
		margin-bottom: 8%;
	}
	.proceeder-two {
		width: 58%;
	}
	.proceeder-three {
		width: 38%;
		margin-top:0;
	}
	.shipping-col-one, .shipping-col-two {
		width:38%;
	}
	.shipping-col-three {
		width: 20%;
	}
	.cc-holder {
		float:right;
		display:block;
	}
}

@media screen and (min-width: 1200px) {
	
	
}