.contact-header {
    width: 100%;
    min-height: 242px;
    padding: 45px 0px;
    padding-bottom: 0;
    background: url(../images/contact-bg.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.contact-add {
    background: url(../images/mailbox-icon-grey-xs.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}
.contact-email {
    background: url(../images/mail-icon-grey-xs.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}
.contact-phone {
    background: url(../images/phone-icon-grey-xs.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}
.custom-label {
    /*margin-bottom: 0;*/
    font-weight: normal;
}
.contact-img-holder {
    margin-top: 25px;
}
.contact-pad-cont {
    padding-top: 100px;
    padding-bottom: 100px;
}
.getintouch-lbl-margin {
    margin-bottom:30px;
}
.cont-details {
    margin-bottom: 5px;
}
.red-ast {
    color: #ff0000;
}
.search-loader {
    display: none;
}
.img-loader {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

/* Responsive */

@media only screen and (max-width: 991px) {
    .contact-pad-cont {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}