
/*****************PAGE*****************/
.camp-header-holder {
	width: 100%;
    height: 515px;
    background: transparent url(../images/sample-campaign-slide.jpg) no-repeat;
    background-size: cover;
    background-position: center 100%;
	position:relative;
}
.camp-header-holder .container {
		position:relative;
		z-index:2;
}
.gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0.65) 99%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
	left:0;
}
.camp-prev-label {
	background: rgba(121,121,121,0.8);
    width: auto;
    position: relative;
   /*  top: 0; */
   /* max-width: 458px;*/
    left: 0;
    right: 0;
    margin: 0 auto;
	margin-bottom: 9%;
	padding: 4px 0;
}
.camp-upload-holder-outer {
	position:relative;
	max-width: 375px;
	left: 0;
    right: 0;
    margin: 0 auto;
	/* top:33%; */
}
.camp-upload-holder-inner {
	position:relative;
	background: rgba(0,0,0,0.4);
	/*background: rgba(255,255,255,0.5);*/
	padding: 22px;
}
.camp-upload-btn {
	border-radius:4px;
	background:#7fc241;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.camp-upload-btn:hover {
	background:#75b837;
}

.camp-remove-cover-btn {
	border-radius:4px;
	background:#f6921e;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.camp-remove-cover-btn:hover {
	background:#e98b1d;
}

.camp-upload-btn-left {
	display: block;
    padding: 14px 36px;
}
.camp-upload-btn-right {
	display: inline-block;
    width: 63px;
    height: 36px;
    vertical-align: baseline;
    border-left: 1px solid #fff;
    margin-top: 7px;
    background: transparent url(../images/upload-arrow.png) no-repeat;
    background-position: center center;
}
.camp-remove-cover-btn-right {
	display: inline-block;
    width: 63px;
    height: 36px;
    vertical-align: baseline;
    border-left: 1px solid #fff;
    margin-top: 7px;
    background: transparent url(../images/bin-icon.png) no-repeat;
    background-position: center center;
    padding: 0 48px;
}
.camp-upload-btn-label {
	padding-top: 8px;
}

.camp-title-holder {
	position:relative;
	left:0;
	bottom:5%;
}
.camp-prev-titleholder {
	padding-top: 290px;
}
.camp-title {
	margin-bottom: 7px;
	margin-top: 10px;
}
.camp-sub-title {
	margin-bottom: 5px;
}
.camp-p {
	margin-bottom: 5px;
}
.cam-title-dash {
	display: block;
    border: 2px solid #a2906b;
    width: 157px;
}


.camp-sidebar {
	background: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.manage-camp-btn, .manage-camp-btn:hover, .manage-camp-btn:focus, .manage-camp-btn:active {
	width: 100%;
    height: 40px;
    background-color: #252525;
    border-color: #252525;
	color: #fff;
}
.camp-btn-caret {
	position: relative;
    top: 8px;
}
.camp-todate {
	margin-top: 10px;
    margin-bottom: 8px;
}
.manage-camp-option>li>a {
	padding: 8px 20px;
}
.camp-sidebar-title {
	margin-top: 30px;
    margin-bottom: 10px;
    /*padding-right: 28px;*/
    /*background: transparent url(../images/edit-icon-small.png) no-repeat;*/
    background-position: 97% center;
    background-size: 15px;
	cursor:pointer;
	word-wrap: break-word;
}
.camp-prev-title {
	margin-top:0;
	background:none;
	cursor:default;
}
.camp-sidebar-title:hover {
	/*background: transparent url(../images/edit-icon-small-hover.png) no-repeat;*/
    background-position: 97% center;
    background-size: 15px;
	background-color: #fffbe1;
}
.camp-prev-title:hover {
	background:none;
}
.camp-sidebar-p {
    text-align: justify;
	/*padding-right: 28px;*/
    /*background: transparent url(../images/edit-icon-small.png) no-repeat;*/
    background-position: 97% 5%;
    background-size: 15px;
	cursor:pointer;
	text-align: left;
	word-wrap: break-word;
}
.camp-prev-sidebar-p {
	background:none;
	cursor:default;
	padding-right:0;
}
.camp-sidebar-p:hover {
	/*background: transparent url(../images/edit-icon-small-hover.png) no-repeat;*/
    background-position: 97% 5%;
    background-size: 15px;
	background-color: #fffbe1;
}
.camp-prev-sidebar-p:hover {
	background:none;
}
.camp-goal-min, .camp-goal-max {
	margin-top: 3px;
}
.camp-devider {
	margin-top: 35px;
    margin-bottom: 20px;
}
.camp-devider2 {
    margin-top: 35px;
    margin-bottom: 30px;
}
.camp-devider3 {
    margin-top: 15px;
    margin-bottom: 30px;
}
.camp-adjust-label {
	margin-top: 15px;
    margin-bottom: 18px;
}
.camp-input {
	height:40px;

}
.camp-length-title {
	margin-bottom: 5px;
}
.camp-length-holder {
	/*border: 1px solid #ccc;*/
    position: relative;
    /*background: #fff;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;*/
}
.camp-length-left {
	float:left;
	width:48.5%;
	margin-right:3%;
	display: flex;
}
.camp-length-left-sidebar {
	float:left;
	width:100%;
	margin-right:3%;
	display: flex;
}
.camp-length-right {
	float:right;
	width:48.5%;
	display: flex;
}
.camp-length-right-sidebar {
	float:right;
	width:100%;
	display: flex;
}
.camp-date-holder {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.camp-date {
	height: 42px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background: #fff url(../images/calendar-icon-small.png) no-repeat;
    background-position: 90% center;
    padding: 5px 7px;
    padding-right: 32px;
    font-size: 12px;
    color: #717171;
}
.camp-lastday-title {
	margin-top: 20px;
    margin-bottom: 10px;
}
.camp-last-day {
	border: 1px solid #ccc;
	padding: 9px;
	background: #fff;
}
.camp-report-abuseholder {
	margin-top: 35px;
	padding-bottom: 10%;
}
.camp-report-abuse {
	color:#b90909;
}
.camp-report-abuse:hover {
	color:#b90909;
	text-decoration:underline;
}
.sidebar-btn {
	margin-bottom: 17px;
}
.campeditor {
	margin-top: 30px;
    margin-bottom: 10px;
}
/************SLIDER*************/
.sidebar-loadrail {
	background: #e2e3e4;
	border-radius:7px;
	position:relative;
	height: 1em;
}
.sidebar-loadgreen {
	background: #7fc241;
    border-radius: 7px;
    display: block;
    border: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 50%;
}
.sidebar-tooltip {
	position:absolute;
	border-radius:5px;
	outline: 0;
	top: -35px;
    right: -25px;
    width: auto;
    height: auto;
    cursor: pointer;
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
	border: 1px solid #7fc241;
    background: #7fc241;
    font-weight: normal;
    color: #fff;
    font-size: 12px;
}
.sidebar-tooltip:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #7fc241;
}
.ui-widget-header {
	background: #7fc241!important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 100px!important;
    border-bottom-left-radius: 100px!important;
    border-top-right-radius: 100px!important;
    border-top-left-radius: 100px!important;
}

.ui-widget.ui-widget-content {
    border: 0;
    background: #b2b2b2;
	border: 1px solid #b2b2b2!important;
}
.ui-slider-horizontal {
    height: 6px!important;
}

#custom-handle {
    border: 1px solid #7fc241!important;
    background: #7fc241!important;
    font-weight: normal!important;
    color: #fff!important;
    font-size: 12px!important;
    border-radius: 100px!important;
    outline: 0;
    width: 20px!important;
    height: 20px!important;
	top: -8px!important;
    margin-left: -10px!important;
    cursor: pointer!important;
}
/**************CALENDAR******************/
.ui-datepicker-header {
	border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
	background: #b2b2b2!important;
	margin:0!important;
	border: 1px solid #b2b2b2!important;
}
.ui-datepicker-title {
	color:#fff;
}
.ui-datepicker select.ui-datepicker-month {
	color: #717171!important;
}
#ui-datepicker-div {
	background:#fff!important;
	padding: 0;
	border: 1px solid #b2b2b2!important;
	border-radius: 8px!important;
}

.ui-datepicker-calendar td a {
	border: 1px solid #fff!important;
	background: #fff!important;
	color: #717171!important;
	text-align: center!important;
}
.ui-datepicker-calendar td a.ui-state-active {
	background: #ccc!important;
}
.ui-widget-header .ui-icon {
	background-image:none;
}
.ui-datepicker .ui-datepicker-next:hover {
	background:#b2b2b2;
	border: 1px solid #b2b2b2;
	right: 2px;
	top:2px;
}
.ui-datepicker .ui-datepicker-prev:hover {
	background:#b2b2b2;
	border: 1px solid #b2b2b2;
	left: 2px;
	top:2px;
}
.ui-datepicker .ui-datepicker-next span {
	background: #b2b2b2 url(../images/date-arrow-right.png) no-repeat;
    background-position: center center;
}
.ui-datepicker .ui-datepicker-next span:hover {
	background: #b2b2b2 url(../images/date-arrow-right-hover.png) no-repeat;
    background-position: center center;
}
.ui-datepicker .ui-datepicker-prev span {
	background: #b2b2b2 url(../images/date-arrow-left.png) no-repeat;
    background-position: center center;
}
.ui-datepicker .ui-datepicker-prev span:hover {
	background: #b2b2b2 url(../images/date-arrow-left-hover.png) no-repeat;
    background-position: center center;
}
/***********TAGS*************/
.tagit {
	background: #fff!important;
	border-radius:3px!important;
	border:1px solid #b2b2b2!important;
}
ul.tagit li.tagit-choice {
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    border: 1px solid #b2b2b2;
    background: none;
    background-color: #fff;
    font-weight: normal;
    padding: 0;
}
ul.tagit li.tagit-choice .tagit-close {
    right: inherit!important;
    left: 0;
    top: 0!important;
    margin-top: 0!important;
    line-height: 28px!important;
    background: #b2b2b2!important;
    padding-left: 2px;
    padding-right: 2px;
}
ul.tagit li.tagit-choice .tagit-close .ui-icon-close {
	display:none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: block!important;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'gibsonsemibold';
    font-size: 14px;
}
ul.tagit li.tagit-choice-editable {
    padding: .2em 22px .2em 42px!important;
	color: #b2b2b2;
}

.camp-cta-outer-holder {
	padding-bottom: 30px;
}
/*.camp-cta-outer {
	margin-top: 35px;
}*/
.campaign-cta-holder {
	padding-left:7px;
	padding-right:7px;
}
.camp-design-item-holder {
	margin-top: 30px;
	text-align: center;
}
.camp-image-box {
	/*width: 100%;
	height: auto;
	display: inherit;
	padding-top: 30%;
	padding-bottom: 22%;
	padding-left: 10%;
	padding-right: 10%;
	background: #254985;
	position:relative;*/
	width: 100%;
    height: auto;
    display: inherit;
    padding: 42px;
    background: #254985;
    position: relative;
    border: 1px solid #ccc;
	/*border-radius:20px;*/
}

.camp-design-label {
	padding-bottom: 5px;
	text-align: left;
}

.campaign-ended-btn {
	border: 1px solid #e1dfdf;
    border-radius: 3px;
    background: #b2b2b2;
    color: #fff;
    text-align: center;
    padding: 10px 40px;
    margin-top: 15px;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor: not-allowed!important;
}

.campaign-ended-btn:hover {
    background: #9a9a9a;
    color: #fff;
}

.camp-update-btn {
	border: 1px solid #7fc241;
    border-radius: 3px;
    background: #fff;
    color: #7fc241;
    text-align: center;
    padding: 10px 40px;
    margin-top: 15px;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor: pointer;
}
.camp-update-btn:hover {
	background: #7fc241;
	color:#fff;
}


/*****************POPUP DIALOG*****************/
.setcamp-header {
	background: #000;
    padding: 15px;
    height: 50px;
    line-height: 20px;
}
#amount {
    width: 150px;
    margin-top: 12px;
}
.camp-duration {
	position:relative;
	width: 50%;
}
.camp-custom-url-holder {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.camp-custom-url {
	/* float: left;
    width: 20%; */
	display:block;
    height: 42px;
    line-height: 36px;
    background: #c7c5c5;
    text-align: center;
	border-radius: 5px 0 0 5px;
	border-right: 0!important;
	padding-left: 10px;
    padding-right: 10px;
}
.camp-custom-urltext {
	/* float:left;
	width:80%; */
	border-radius: 0 4px 4px 0;
	display:inline-block;
	width:100%;
}
.trim-height {
	height:36px;
	border:1px solid #b2b2b2;
}

.setup-cont {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.payeedetail-cont {
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
	display:none;
}
.payeedetail-label {
	margin-bottom: 30px;
}
.payeedetail-inner {
	position:relative;
}
.payeedetail-left {
	float:left;
	width: 48.5%;
    margin-right: 3%;
}
.payeedetail-right {
	float:left;
	width:48.5%;
}
.camp-select {
	border:1px solid #b2b2b2;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:#fff url("../images/dropdown-arrow.jpg");
	background-repeat:no-repeat;
	background-position:94% center;
}
.payeedetail-checkl {
	float: left;
    width: 4%;
	margin-top: 16px; 
	margin-bottom: 30px;
}
.payeedetail-checkr {
	float: left;
	width: 96%;
    padding-left: 16px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.checker-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #b2b2b2;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}
.selected {
    background: #7fc241 url(../images/check-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    border: 1px solid #7fc241;
}
.checker-box-agree {
	color: #b2b2b2;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
	margin-top: -6px;
}
.setup-footer {
	padding-top: 10px;
}
.setup-footer-btn {
	height:36px;
}
.share-label {
	position: relative;
	clear: both;
}
.share-icon-holder {
	position: relative;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
}
.share-icon-holder span {
	font-size: 40px;
    cursor: pointer;
    display: inline-block;
    margin: -3px;
	color:#7fc241;
}
.share-icon-holder span:hover {
	color:#75b837;
}
.campprev-share-icon-holder {
	position: relative;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 30px;
}
.campprev-share-icon-holder span {
	font-size: 37px;
    cursor: pointer;
    display: inline-block;
    margin: -3px;
	color:#7fc241;
}
.campprev-share-icon-holder span:hover {
	color:#75b837;
}
.successlaunch-cont {
	display:none;
}
.next-loader {
	display: none;
}
.img-loader {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
}
.q-icon {
    background: transparent url(../images/question-mark-icon-small.png) center center no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
    cursor: pointer;
}
.q-pop {
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    bottom: 195%;
    left: -206px;
    width: 225px;
   /* height: 150px;*/
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
    font-family: 'gibsonregular';
    text-align: left;
    font-size: 13px;
    color: #b2b2b2;
    padding: 8px;
    padding-top: 6px;
    line-height: 15px;
}
.q-pop-show {
    opacity: 1;
    z-index: 3;
}
.q-pop:before {
    content: '';
    position: absolute;
    left: 203px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b2b2b2;
}
.q-pop:after {
    content: '';
    position: absolute;
    left: 205px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}
.report-abuse-lbl {
	cursor: pointer;
}
.camp-prev-cont-holder {
	background: #f1f1f1;
	border-bottom: 1px solid #ccc;
    width: 100%;
    position: relative;
    padding: 20px 0;
}
.edit-lbl1 {
	color: #7fc241;
	display: inline-block;
}
.edit-lbl2 {
	color: #7fc241;
	display: inline-block;
}
.camp-duration-cont {
    display: block;
    height: 42px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border-right: 0!important;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
}
.camp-pad-left {
	padding-left: 14px;
}
.camp-margin-bot {
	margin-bottom: 5%;
}
.camp-img-holder {
	padding-top: 35px;
    padding-bottom: 35px;
}
.megaphone-img {
	width: 80px;
}
.camp-ready-launch {
	padding-top: 0px;
}
.camp-congrats {
	padding-top: 0px;
	padding-bottom: 30px;
}
.camp-done-edit {
	padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: left;
}
.camp-confirm-cont {
	padding-bottom: 35px;
}
.font-congrats {
    font-size: 23px;
}



@media screen and (min-width: 320px) {
	.camp-prev-label {
		margin-bottom: 15%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 480px) {
	.camp-prev-label {
		margin-bottom: 17%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 640px) {
	.camp-prev-label {
		margin-bottom: 9%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 768px) {
	.camp-prev-label {
		margin-bottom: 9%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.camp-prev-label {
		margin-bottom: 9%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1024px) {
	.camp-prev-label {
		margin-bottom: 9%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 100% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 100% center;
	}
	.camp-cta-outer {
		display:none;
	}
	.camp-duration {
		width:100%;
	}
	.setup-footer-btn {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1200px) {
	.camp-prev-label {
		margin-bottom: 6.7%;
	}
	.camp-sidebar-title, .camp-sidebar-p {
		background-position: 97% center;
	}
	.camp-sidebar-title:hover, .camp-sidebar-p:hover {
		background-position: 97% center;
	}
	.camp-cta-outer {
		display:block;
	}
	.camp-duration {
		width: 62%;
	}
	.setup-footer-btn {
		margin-bottom: 0;
	}
}