.custom-section-holder {
	padding-top: 35px;
    padding-bottom: 50px;
	overflow:hidden;
}

.shirt-design-holder {
	position:relative;
	text-align:center;
}
.design-holder {
	position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #535;
    width: 100%;
    padding: 20% 10%;
}
a.shirt-name-link {
	color: #b2b2b2;
	text-decoration: none;
}

a.shirt-name-link:hover {
	color: #717171;
	text-decoration: none;
}
.header1 {
	margin: 0;
    padding-bottom: 10px;
}
.header2 {
	margin: 0;
    padding-bottom: 40px;
}