.featured-section-holder {
	padding-top: 20px;
    padding-bottom: 30px;
	overflow:hidden;
}
.f-bg1, .f-bg2 {
	min-height: 451px;
}
.f-bg1 {
	background: #fff url('../images/cobblestones.jpg');
	background-repeat:no-repeat;
	background-position: center center;
    background-size: cover;
    min-height: 450px;
	position:relative;
}
.f-bg2 {
	background: #fff url('../images/selfie.jpg');
	background-repeat:no-repeat;
	background-position: center center;
    background-size: cover;
    min-height: 450px;
	position:relative;
}
.white-space-r {
	width:10px;
	height:100%;
	position:absolute;
	right:0;
	background:#fff;
}
.white-space-l {
	width:10px;
	height:100%;
	position:absolute;
	left:0;
	background:#fff;
}
.text-padd {
	margin-top: 30px;
}
.start-personalizing-btn {
	background: #363636;
    border-color: #363636;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.start-personalizing-btn:hover {
	background: #2e2e2e;
    border-color: #2e2e2e;
	background-repeat:no-repeat;
	background-position:5% 50%;
	background-size:20px;
}
.lpad {
	padding-left: 0;
    padding-right: 15px;
}
.rpad {
	padding-right: 0;
    padding-left: 15px;
}
@media screen and (max-width: 1200px) {
	.lpad {
		padding:0;
	}
	.rpad {
		padding:0;
	}
}

@media screen and (max-width: 768px) {
	.white-space-r, .white-space-l {
		display:none;
	}
	.featured-section-holder {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	
}