.howitworks-header {
	width: 100%;
    min-height: 440px;
    padding: 114px 0px;
    background: url(../images/school-search-bg.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.howitworks-lefthead-holder {
	max-width:385px;
}
.howitworks-getstarted-btn {
	max-width: 220px;
    margin-top: 35px;
}
.howitworks-video {
	width:100%;
}

.howitworks-pork-holder {
	margin-top: 50px;
    margin-bottom: 50px;
}
.howitworks-pattern-holder {
	max-width: 348px;
    margin: 0 auto;
	position:relative;
	margin-bottom: 90px;
    background: #fff;
}
.dotted-devider-right {
	background: #fff url(../images/dotted-horizontal.jpg) 0 50% no-repeat;
    background-size: 100% 100%;
    width: 50%;
	height:3px;
    position: absolute;
    top: 28%;
    right: -82px;
    z-index: 1;
}
.dotted-devider-left {
	background: #fff url(../images/dotted-horizontal.jpg) 100% 50% no-repeat;
    background-size: 100% 100%;
    width: 50%;
	height:3px;
    position: absolute;
    top: 28%;
    left: -82px;
    z-index: 1;
}
.dotted-devider-top {
	background: #fff url(../images/dotted-line-vertical.jpg) center center no-repeat;
    background-size: contain;
	position: absolute;
	height:50%;
	width:5px;
    top: -34%;
    left: 0;
	right:0;
	margin:0 auto;
    z-index: -1;
}
.dotted-devider-down {
	position: absolute;
    height: 160px;
    width: 26px;
    bottom: -168px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background: #fff url(../images/dotted-line-or.jpg) center center no-repeat;
    background-size: contain;
}

.sales-counter {
	position: absolute;
    /*bottom: 74px;*/
    bottom: 94px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    background: rgba(255,255,255,0.3);
    z-index: 1;
}

.image-box {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: inherit;
  padding-top: 22%;
  padding-bottom: 22%;
  padding-left: 10%;
  padding-right: 10%;
  background: #000;
}

.image-box img, a.shirt-name-link {
  -webkit-transition: 1s linear;
  transition: .3s linear;
  transition: .3s linear;
}
.image-overflow-center {
	width: 100%;
	margin: 0 auto;
}

.image-box img:hover, a.shirt-name-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

a.shirt-name-link {
	/* color: #b2b2b2; */
	text-decoration: none;
}

a.shirt-name-link h3 {
	color: #717171;
	text-decoration: none;
}

a.shirt-name-link span {
	color: #b2b2b2;
	text-decoration: none;
}

a.shirt-name-link h3:hover {
	color: #535353;
	text-decoration: none;
}
a.shirt-name-link span:hover {
	color: #717171;
	text-decoration: none;
}
.howitworks-featured-holder {
	background:#f7f7f7;
}
.howitworks-featured-label {
	margin-bottom:40px;
	margin-top:40px;
}
.howitworks-featuredbtn-holder {
	margin-bottom:50px;
}
.howitworks-getstarted-btn2 {
	max-width: 220px;
}
.pork-icon {
	position:relative;
	z-index:2;
}

@media only screen and (min-width: 320px) {
	.pork-icon {
		width:80px;
	}
	.dotted-devider-down {
		height: 130px;
		bottom: -136px;
	}
	.dotted-devider-left {
		top: 38px;
		left: 4px;
		width: 65%;
	}
	.dotted-devider-right {
		top: 38px;
		right: 4px;
		width: 65%;
	}
	.howitworks-getstarted-btn {
		margin-bottom:20px;
		max-width: 100%;
	}
	.howitworks-header {
		padding: 50px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:0;
	}
}
@media only screen and (min-width: 480px) {
	.pork-icon {
		width:120px;
	}
	.dotted-devider-down {
		height: 148px;
		bottom: -152px;
	}
	.dotted-devider-left {
		top: 23%;
		left: 4px;
		width: 60%;
	}
	.dotted-devider-right {
		top: 23%;
		right: 4px;
		width: 60%;
	}
	.howitworks-getstarted-btn {
		margin-bottom:20px;
		max-width: 220px;
	}
	.howitworks-header {
		padding: 50px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:0;
	}
}
@media only screen and (min-width: 640px) {
	.pork-icon {
		width:auto;
	}
	.dotted-devider-down {
		height: 170px;
		bottom: -174px;
	}
	.dotted-devider-left {
		top: 28%;
		left: 4px;
		width: 50%;
	}
	.dotted-devider-right {
		top: 28%;
		right: 4px;
		width: 50%;
	}
	.howitworks-getstarted-btn {
		margin-bottom:20px;
		max-width: 220px;
	}
	.howitworks-header {
		padding: 50px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:0;
	}
}
@media only screen and (min-width: 768px) {
	.pork-icon {
		width:auto;
	}
	.dotted-devider-down {
		height: 170px;
		bottom: -174px;
	}
	.dotted-devider-left {
		top: 28%;
		left: 4px;
	}
	.dotted-devider-right {
		top: 28%;
		right: 4px;
	}
	.howitworks-getstarted-btn {
		margin-bottom:20px;
		max-width: 220px;
	}
	.howitworks-header {
		padding: 50px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:0;
	}
}
@media only screen and (min-width: 992px) {
	.pork-icon {
		width:auto;
	}
	.dotted-devider-down {
		height: 160px;
		bottom: -168px;
	}
	.dotted-devider-left {
		top: 28%;
		left: -41px;
	}
	.dotted-devider-right {
		top: 28%;
		right: -41px;
	}
	.howitworks-getstarted-btn {
		margin-bottom:0;
		max-width: 220px;
	}
	.howitworks-header {
		padding: 114px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:22px;
	}
}
@media only screen and (min-width: 1200px) {
	.pork-icon {
		width:auto;
	}
	.dotted-devider-down {
		height: 160px;
		bottom: -168px;
	}
	.dotted-devider-left {
		top: 28%;
		left: -82px;
	}
	.dotted-devider-right {
		top: 28%;
		right: -82px;
	}
	.howitworks-getstarted-btn {
		margin-bottom:0;
		max-width: 220px;
	}
	.howitworks-header {
		padding: 114px 0px;
	}
	.howitworks-lefthead-holder h1 {
		margin-top:22px;
	}
}