.journal-header {
	width: 100%;
    height: 213px;
    background: #000 url(../images/blog-header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center 100%;
	position:relative;
	text-align:center;
	padding-top: 55px;
}
.journal-body-marg {
	margin-top: 50px;
}
.journal-left-cont {
	position:relative;
	border:1px solid #ccc;
	margin-bottom: 50px;
}
.journal-pic {
	background: #000 url(../images/sample-blog-1.jpg) no-repeat;
    background-size: cover;
    background-position: center 100%;
	height:498px;
}
.journal-pic2 {
	background: #000 url(../images/sample-blog-2.jpg) no-repeat;
    background-size: cover;
    background-position: center 100%;
	height:498px;
}
.journal-title {
	display:block;
	font-size:34px;
}
.journal-details {
	border-bottom: 1px solid #ccc;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
	position:relative;
}
.journal-continueread-btn {
	background: #fafafa;
    color: #7fc241;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 40px;
    width: 208px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
	z-index:1;
}
.journal-continueread-btn:hover {
	background: #e1dfdf;
	border: 1px solid #ccc;
}
.continueread-btn-icon {
	position: relative;
    top: -2px;
    padding-left: 8px;
}
.journal-details-footer {
	position:relative;
	padding: 30px 25px;
}
.journal-profile-holder {
	float:left;
	width:50%;
}
.journal-profile {
	width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
	display:inline-block;
	vertical-align: top;
    position: relative;
    top: 4px;
}
.journal-profile-detail {
	display:inline-block;
	margin-left: 5px;
	vertical-align: top;
}
.journal-date {
	display:block;
}
.journal-fav {
	display:inline-block;
	background: #fff url(../images/heart-icon-gray-small.png) no-repeat;
    background-position: left center;
	padding-left: 20px;
	margin-right: 38px;
}
.journal-comm {
	display:inline-block;
	background: #fff url(../images/comment-icon-gray-small.png) no-repeat;
    background-position: left center;
	padding-left: 20px;
}
.journal-adds {
	display:block;
	background: #fff url(../images/tag-icon-gray-small.png) no-repeat;
    background-position: left center;
	padding-left: 20px;
}
.journal-icon-holder {
	position: relative;
    float: right;
    width: 50%;
    text-align: right;
}
.journal-icon-heart {
	width:50px;
	height:50px;
	display:inline-block;
	border-radius:100px;
	background: #ce1656 url(../images/heart-icon-white-small.png) no-repeat;
    background-position: center center;
	vertical-align: top;
	margin-right: 5px;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.journal-icon-heart:hover {
	background: #c81453 url(../images/heart-icon-white-small.png) no-repeat;
    background-position: center center;
}
.journal-icon-share {
	width:50px;
	height:50px;
	display:inline-block;
	border-radius:100px;
	background: #7fc241 url(../images/share-icon-white-small.png) no-repeat;
    background-position: center center;
	vertical-align: top;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.journal-icon-share:hover {
	background: #75b837 url(../images/share-icon-white-small.png) no-repeat;
    background-position: center center;
}

.journal-right-cont {
	position:relative;
	border:1px solid #ccc;
	border-radius: 0 0 2px 2px;
    margin-bottom: 50px;
}
.journal-label-header {
	background:#535353;
	padding: 25px 30px
}
.journal-cat-group {
	display: block;
    list-style: none;
    padding: 0;
    margin: 0;
	padding-top: 20px;
    padding-bottom: 50px;
	background: #fff;
}
.journal-cat-group li {
	color: #535353;
	font-size: 14px;
	font-family: 'gibsonregular';
	padding: 20px 30px;
	background:#fff;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	font-weight: bold;
}
.journal-cat-group li:hover {
	background:#f9f9f9;
}
.journal-cat-group li.active {
	background:#f9f9f9;
}
.journal-cat-group li div {
	border-radius: 100px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 9px;
    float: right;
    position: relative;
    top: -8px;
}
.bg1 {
	background:#ffa726;
}
.bg2 {
	background:#7986cb;
}
.bg3 {
	background:#f06292;
}
.bg4 {
	background:#64b5f6;
}
.bg5 {
	background:#7fc241;
}
.journal-latest-post {
	position:relative;
	padding: 30px 20px;
    border-top: 1px solid #ccc;
	background: #fff;
}
.journal-latest-left {
	background: #fff url(../images/sample-blog-2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    width: 35%;
    height: 75px;
}
.journal-latest-right {
	float:left;
	width:65%;
	padding-left: 10px;
}
.journal-latest-title {
	font-weight: bold;
    width: 90%;
    position: relative;
    top: -5px;
    padding-bottom: 12px;
}

.journal-banner-cont {
	/* background: #fff url(../images/sample-banner.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
	width:100%;
	height: 215px; */
	position: relative;
	margin-bottom: 50px;
}
.journal-banner-text {
	background:rgba(0,0,0,0.5);
	color:#fff;
	position:absolute;
	width:100%;
	bottom:0;
    z-index: 1;
	padding: 20px 25px;
}
.paginate-holder {
	text-align:right;
	padding-right:50px;
}
.paginate-holder .pagination {
	margin-top:0;
}




/**********************FULL PAGE*********************/
.journal-view-bg {
	background:#fafafa;
}
.journal-full-details {
	border: 1px solid #ccc;
    padding: 15px 20px;
	padding-bottom: 50px;
	background:#fff;
}
.journal-full-title {
	font-size:34px;
	margin:0;
}
.journal-posted {
	display:block;
	margin-top: 10px;
}
.journal-p {
	margin-top:25px;
}
.journal-view {
	display:inline-block;
	background: #fff url(../images/eye-icon-gray-small.png) no-repeat;
    background-position: left center;
    padding-left: 20px;
	margin-right: 20px;
}
.journal-share {
	display:inline-block;
	background: #fff url(../images/share-icon-gray-small.png) no-repeat;
    background-position: left center;
    padding-left: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
.journal-adds2 {
	display:inline-block;
	background: #fff url(../images/tag-icon-gray-small.png) no-repeat;
    background-position: left center;
    padding-left: 20px;
}
.journal-ul {
	list-style: none;
    padding: 0;
    margin: 0;
	margin-top: 25px;
    margin-bottom: 25px;
}
.journal-ul li {
    background: #fff url(../images/green-bullet-small.png) no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    margin-left: 50px;
}
.journal-share-holder {
	position:relative;
	border:1px solid #ccc;
	border-top:0;
	border-radius: 0 0 2px 2px;
	background:#fff;
}
.journal-share-inner {
	text-align:center;
	height: 70px;
	position: relative;
    top: -25px;
}
.journal-share-inner span {
    width: 48px;
	height: 48px;
    cursor: pointer;
    display: inline-block;
	margin: 0 7px;
}
.icon-f {
	background: #fff url(../images/fb-green-icon-large.png) no-repeat;
    background-position: center center;
}
.icon-f:hover {
	background: #fff url(../images/fb-green-icon-large-hover.png) no-repeat;
    background-position: center center;
}
.icon-t {
	background: #fff url(../images/twitter-greeen-icon-large.png) no-repeat;
    background-position: center center;
}
.icon-t:hover {
	background: #fff url(../images/twitter-greeen-icon-large-hover.png) no-repeat;
    background-position: center center;
}
.icon-g {
	background: #fff url(../images/g-plus-green-large.png) no-repeat;
    background-position: center center;
}
.icon-g:hover {
	background: #fff url(../images/g-plus-green-large-hover.png) no-repeat;
    background-position: center center;
}
.icon-e {
	background: #fff url(../images/email-green-large.png) no-repeat;
    background-position: center center;
}
.icon-e:hover {
	background: #fff url(../images/email-green-large-hover.png) no-repeat;
    background-position: center center;
}
.journal-share-inner span:hover {
    color: #75b837;
}
.journal-written-holder {
	border:1px solid #ccc;
	border-radius:2px;
	background:#fff;
	padding:20px;
	margin-top: 7px;
}
.journal-written-profile {
	width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.journal-written-profile-detail {
	display:inline-block;
	width: 88%;
    padding-left: 16px;
}
.journal-alsolike {
	margin-top: 30px;
    margin-bottom: 15px;
}
.journal-otherblog-holder {
	position:relative;
}
.journal-otherblog-label-holder {
	padding: 20px 25px;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 2px 2px;
}
.journal-otherblog-label {
	margin-bottom: 15px;
}
.journal-comment-holder {
	background: #fff;
    padding: 20px 25px;
    margin-bottom: 25px;
	width:100%;
}
.journal-reply-holder {
	background: #fff;
    padding: 20px 25px;
    margin-bottom: 25px;
    width: 87%;
    margin-left: 13%;
}
.journal-comment-holder span {
	display:inline-block;
}
.journal-postdate {
	background: #fff url(../images/clock-xs.png) no-repeat;
    background-position: left center;
    padding-left: 14px;
    margin-left: 38px;
}
.journal-comment-p {
	margin-top:10px;
}
.journal-a {
	color: #7fc241;
	cursor:pointer;
}
.journal-comment-text {
	border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    background: #fafafa;
}
.journal-label-holder {
	margin-bottom: 35px;
}
.journal-input-holder {
	margin-bottom:40px;
}
.journal-trigger {
	margin-top:15px;
	margin-bottom:50px;
}
.journal-comment-btn {
	max-width: 270px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.name-pad {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	.journal-written-profile-detail {
		width:100%;
		padding-left:0;
	}
	.journal-view {
		margin-right: 5px;
	}
	.journal-share {
		margin-right: 5px;
		margin-left: 5px;
	}
}