.latest-section-holder {
	background: #cbcccb url('../images/latest-bg.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	min-height:628px;
	overflow:hidden;
}
.latest-text {
	display:block;
}
.latest-btn {
	padding: 6px 12px;
	padding-left:30px;
	padding-right:30px;
	margin-top: 20px;
}
.l-height {
	line-height:38px;
}
.custom-padd {
	padding-top: 21%;
    padding-bottom: 21%;
}