.test[style] {
     padding-right:0 !important;
 }
body {
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
		-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
/*************SCROLL**************/
.custom-holder::-webkit-scrollbar, .style-holder-inner::-webkit-scrollbar, .pattern-holder-inner::-webkit-scrollbar, .mycoll-item-holder::-webkit-scrollbar, .addmorestyle-holder-inner::-webkit-scrollbar, .design-cont-item-holder::-webkit-scrollbar, .school-pop-data::-webkit-scrollbar {
    width: 10px;
}
 
.custom-holder::-webkit-scrollbar-track, .style-holder-inner::-webkit-scrollbar-track, .pattern-holder-inner::-webkit-scrollbar-track, .mycoll-item-holder::-webkit-scrollbar-track, .addmorestyle-holder-inner::-webkit-scrollbar-track, .design-cont-item-holder::-webkit-scrollbar-track, .school-pop-data::-webkit-scrollbar-track {
    background:#fff;
}
 
.custom-holder::-webkit-scrollbar-thumb, .style-holder-inner::-webkit-scrollbar-thumb, .pattern-holder-inner::-webkit-scrollbar-thumb, .mycoll-item-holder::-webkit-scrollbar-thumb, .addmorestyle-holder-inner::-webkit-scrollbar-thumb, .design-cont-item-holder::-webkit-scrollbar-thumb, .school-pop-data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#b2b2b2;
}


/*********TEXT&SELECT************/
.form-control {
	border: 1px solid #ccc;
}
textarea.form-control {
    resize: none;
}
/*********FONTS**********/
.gitalic {
	font-family: 'gibsonitalic';
}

.glight {
	font-family: 'gibsonlight';
}

.gregular {
	font-family: 'gibsonregular';
}

.gsemibold {
	font-family: 'gibsonsemibold';
}
.gbold {
	font-family: 'gibsonbold';
}
.font-xxxsmall {
	font-size: 11px;
}

.font-xxsmall {
	font-size: 13px;
}

.font-xsmall {
	font-size: 14px
}

.font-small {
	font-size: 15px;
}

.font-regular {
	font-size: 16px
}
.font-regularz {
	font-size: 17px
}

.font-medium {
	font-size: 18px;
}

.font-large {
	font-size: 22px
}
.font-slarge {
	font-size: 28px
}

.font-xlarge {
	font-size: 37px;
}

/**********COLORS***********/
.white {
	color: white;
}
.blackz {
	color: #000;
}

.grayz {
	color: #b7b7b7;
}

.gray-light {
	color: #e1dfdf;
}

.gray {
	color: #b2b2b2;
}

.gray-dark {
	color: #717171;
}

.gray-darker {
	color: #535353;
}

.gray-base {
	color: black;
}

.green {
	color: #7fc241;
	font-size: 14px;
}

.red {
	color: #D12F19;
	font-size: 14px;
}

.navbar-inverse .navbar-nav>li.white-trigger>a {
	color:#fff;
}
.navbar-inverse .navbar-nav>li.white-trigger>a:hover {
	color: white;
	/* cursor:text; */
}

.navbar-inverse .navbar-nav>li.gray-darker-trigger>a {
	color: #535353;
}
.navbar-inverse .navbar-nav>.active>a {
	background-color: #000;
	color:#fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #b9b9b9;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    /*color: #fff;*/
    color: #535353;
    /* background-color: #080808; */
    cursor: text;
}
.navbar-toggle {
	background-color: transparent!important;
    color: #999999!important;
    margin-right: 0px!important;
    border: none!important;
}

.img-center {
	margin: 0 auto;
}
.clear-margin-left {
	margin-left:0;
}
.clear-margin-right {
	margin-right:0;
}
.clear-padd-left {
	padding-left:0;
}
.clear-padd-right {
	padding-right:0;
}
/*******END COLORS*********/

/********END FONTS**********/

/********KEN CUSTOM**********/
.header-logo {
	padding: 10.5px 15px;
}
.logo2 {
		display:none!important;
	}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
	border-radius:0;
}
.navbar {
	min-height: 61px;
}
.header-outer-holder {
	padding-left: 0;
    padding-right: 0;
}
.header-outer-holder .navbar {
	margin-bottom:0;
}
.outer-nav>li:before {
	content: '';
    position: absolute;
    top: 20px;
    right: 0;
    height: 20px;
    border-right: 1px solid #fff;
    z-index: 1;
}
ul.outer-nav>li:hover, ul.outer-nav>li>a:hover {
	cursor:pointer!important;
}
.outer-nav>li:last-child:before {
	border-right: 0;
}
.inner-nav>li>a:before {
	transform: perspective(7px) rotateX(2deg);
    transform-origin: bottom;
    border-right: 1px solid #717171;
    content: '';
    position: absolute;
    top: -28px;
    right: -12px;
    bottom: -1px;
    left: 0;
    z-index: 0;
}
.inner-nav>li.laster>a:before {
		border-right:0!important;
	}
.inner-nav-icon {
	border-radius: 100%;
    border: 1px solid #535353;
    color: #535353;
    padding: 3px 8px;
    font-size: 13px;
    margin-right: 12px;
}
.nav-active {
	background-color: #7fc241;
	color:#fff;
	border:1px solid #7fc241;
}
.breadcrumb-outer {
	background-color: #ccc;
	padding-left:0;
	padding-right:0;
}
.breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
}
.breadcrumb>li a {
	color: #717171;
}
.breadcrumb>.active {
    color: #535353;
}
.header-inner-holder {
	position:relative;
}
.header-dropdown-holder {
	position: relative;
    bottom: -12px;
}
.header-nav-email {
	display: inline-block;
	position: absolute;
}
.dropdown-menu {
	top: 86%;
	width: 100%;
	min-width: 100%;
	border-radius: 0 0 4px 4px;
	background:#363636;
}
.dropdown-menu li {
	border-bottom:1px solid;
}
.dropdown-menu li:last-child {
	border-bottom:0;
}
.header-dropdown:active:hover, 
.header-dropdown.active:hover, 
.open>.dropdown-toggle.header-dropdown:hover, 
.header-dropdown:active:focus, 
.header-dropdown.active:focus, 
.open>.dropdown-toggle.header-dropdown:focus, 
.header-dropdown:active.focus, 
.header-dropdown.active.focus, 
.open>.dropdown-toggle.header-dropdown.focus {
	background: #363636;
    border-color: #363636;
}
.header-dropdown {
	background: #363636!important;
    border-color: #363636!important;
}
.header-dropdown:hover {
	background: #2e2e2e;
    border-color: #2e2e2e;
}
.user-email {
	padding-left: 4px;
    padding-right: 15px;
}


.footer-sect1 {
	background:#84bb52 url('../images/footer-art-bg.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:center;
	color:#000;
	text-align:center;
	padding-top: 3%;
    padding-bottom: 3%;
}
.footer-stay-con {
	margin-bottom:15px;
}
.footer-sect1-icon {
	font-size: 50px;
}
.footer-sect1-icon {
    font-size: 50px;
    cursor: pointer;
}
.footer-sect2 {
	background:#000;
	padding-top: 40px;
    padding-bottom: 5px;
}
.footer-sect1-icon:before {
	margin-left: .1em;
	margin-right: .1em;
}
.footer-nav {
	display:block;
	padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}
.footer-nav span {
	display:inline-block;
}
.footer-nav span a:hover {
	text-decoration:none;
}
.footer-detail {
	display:block;
	width: 100%;
    clear: both;
    padding-bottom: 60px;
}
.footer-link-border {
	margin-left: 5px;
	/*/margin-left:10px;/*/
	margin-right:5px;
}
.footer-email-text-header {
	padding-bottom:6px;
}
.footer-email-text-holder {
	padding-bottom:40px;
}
.footer-email-text {
	background: transparent;
    height: 35px;
    padding: 20px 20px;
    border: 1px solid #717171;
}
.footer-email-btn {
	padding: 10.3px 18px;
}
.footer-contact-holder {
	position:relative;
	display:block;
	padding-top: 10px;
    padding-bottom: 35px;
}
.footer-contact-left {
	display:inline-block;
	border-right:1px solid #717171;
	padding-right: 20px;
    margin-right: 10px;
}
.footer-contact-right {
	display:inline-block;
}
.font-social {
	position:relative;
	top:-3px;
	padding-right: 6px;
}
.footer-small-icon {
    color: #494949;
    font-size: 27px;
    cursor: pointer;
}
.footer-small-icon:before {
	margin-left: 3px;
	margin-right: 3px;
}
.footer-small-icon:hover {
    color: #7fc241;
}
.footer p {
	margin:0;
}
.footer-contact-icon {
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:5px;
	font-size:20px;
	padding-right:15px;
}
.icon-phone {
	padding-right:5px;
}
.icon-email-2 {
	font-size: 12px;
    top: 12px;
}
.pointer {
	cursor: pointer;
}



.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
body.modal-open {
    overflow: hidden;
}
.login-text-user, .login-text-pass {
	position:relative;
}
.login-modal-holder {
	border-radius:0;
	border-color:transparent;
}
.login-modal-header {
	background:#000;
	padding: 15px;
	margin-left: -1px;
}
.login-left-col, .login-right-col {
	padding-left:40px;
	padding-right:40px;
	position:relative;
}
.login-right-col {
	background: #f1f4f6;
}
.facebook-icon {
	margin-top: 50px;
    margin-bottom: 30px;
}
.fast-label {
	line-height: 23px;
    margin-bottom: 25px;
}
.facebook-login-btn {
	background:#44609d;
	border-color:#44609d;
	width:100%;
	padding: 9px 12px;
}
.facebook-login-btn:hover {
	background:#3b5793;
	border-color:#3b5793;
}
.login-btn {
	width:100%;
	display:block;
	padding: 9px 12px;
	margin-bottom: 12px;
}
.reg-btn {
	width:100%;
	display:block;
	padding: 9px 12px;
	margin-bottom: 30px;
}
.btn-green-holder {
	position:relative;
}
.label1 {
	margin-top: 58px;
}
.label2 {
	margin-bottom: 26px;
}
.circle-or {
	display: block;
	position: absolute;
    bottom: 29%;
    right: -24px;
    background: #fff;
    border-radius: 100%;
    z-index: 1;
    padding: 12px;
}
.login-close {
	cursor:pointer;
}
.forgotpass:hover {
	cursor:pointer;
	color:#717171;
}
.forgotpass-box, .enterpass-box {
	padding: 85px 35px;
	display:none;
}
.forgot-marg {
	margin-top: 8px;
    margin-bottom: 15px;
}
.sendemail-btn, .reset-btn {
	/*width: 245px!important;*/
	width: 260px!important;
	display:block;
	margin:0 auto;
	margin-top: 10px;
    margin-bottom: 5px;
}
.notif {
	margin-top: 5px;
	font-size: 14px;
}

.design-holder {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
    width: 24%;
}
.campaign-image-holder{
	width: 100%;
    height: auto;
    display: inherit;
    padding: 42px;
    background: #254985;
    position: relative;
	border-radius:20px;
}
.print-canvas {
	position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 28%;
    height: 34%;
	/* border:1px solid green; */
}
.print-canvas2 {
	position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 28%;
    height: 34%;
	/* border:1px solid green; */
}
.design-generated-image {
	width:100%;
	height:100%;
}
.reg-box {
	padding: 25px;
    padding-top: 20px;
	display:none;
}
.reg-left {
	padding-right:20px;
}
.reg-right {
	padding-left:20px;
}
.reg-marg {
	margin-bottom:20px;
}
.reg-goback {
	color:#000!important;
	text-decoration:none;
}
.reg-goback:hover {
	color:#000!important;
}
.buy-create {
	display:none;
}
/**************Small cart/top right box*****************/
.design-container {
	background: #fff;
    width: 352px;
    /* min-height: 630px; */
    position: fixed;
    top: 8%;
    right: -352px;
    text-align: center;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
	z-index:6;
}
.design-cont-open {
	right: 0;
}
.design-cont-header {
	background:#b2b2b2;
	padding-top: 10px;
    padding-bottom: 10px;
	position:relative;
}
.design-cont-footer {
	position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.customize-btn {
	letter-spacing:1px;
}
.design-cont-btn {
	border: 1px solid #e98b1d;
    width: 35px;
    height: 65px;
    position: absolute;
    left: -35px;
    border-radius: 5px 0px 0px 5px;
	cursor:pointer;
}
.dc-open {
	background: #e98b1d url(../images/selected-arrow-right.png) 7px center no-repeat;
    background-size: 20px;
}
.dc-close {
	background: #e98b1d url(../images/selected-arrow-left.png) 7px center no-repeat;
    background-size: 20px;
}
.slick-arrow  {
	outline: none!important;
}
.lbl-overflow {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-c-height {
	height: 40px;
}
.start-design-btn {
	color: #fff;
    background-color: transparent;
    border-color: #72b139;
}
.start-design-btn:hover {
	color: #fff;
    background-color: transparent;
    border-color: #7fc241;
}
.loader-container {
    content: '';
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 20%;
    z-index: 1099;
}
#loader-img {
    background: url(../images/tzloader.gif) center no-repeat;
    z-index: 1100;
    margin: 0 auto;
    height: 100%;
}

/********************TRANSITIONS***********************/
a, i, button, html input[type="button"], input[type="reset"], input[type="submit"], [class^="icon-"], [class*=" icon-"] {
    text-decoration: none;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    outline: 0!important;
}

/****************PAGINATION*********************/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #7fc241;
    border-color: #7fc241;
	z-index: 3;
    color: #fff;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
	color: #7fc241;
	text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #7fc241;
	    z-index: 2;
		
}
.btn {
	outline: none!important;
}
.btn-warning {
	border-color: #f0ad4e!important;
}
.green-btn {
	border: 1px solid #7fc241;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background: #7fc241;
}
.green-btn:hover {
	border: 1px solid #75b837;
    background: #75b837;
}
.gray-btn {
	background: #b2b2b2;
	border: 1px solid #b2b2b2;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}
.gray-btn:hover {
	background: #b2b2b2;
	border: 1px solid #b2b2b2;
}
.orange-btn {
	border: 1px solid #e98b1d;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background: #f6921e;
}
.orange-btn:hover {
	border:1px solid #e98b1d;
	background:#e98b1d;
}
.gray-btn {
	border: 1px solid #b2b2b2;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background: #b2b2b2;
}
.nogoback-btn, .yesremove-btn {
    width: 220px;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
}

.close {
	color: #ddd;
    text-shadow: none;
    opacity: 1;
}
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}



/*************MODAL****************/
#buyorcreate .modal-dialog, #removedesign .modal-dialog, #removestyle .modal-dialog {
	width:610px;
}
#zoomer .modal-dialog {
	width:860px;
}
#zoomer .popup-close {
	top: 12px;
    right: 8px;
}
.confirm-header {
	background:#000;
	padding: 15px;
	height: 50px;
	line-height: 20px;
}
.zoom-modal-holder {
	background:#010101;
	border: none;
    border-radius: 0;
}
.confirm-modal-holder, .sizechart-modal-holder {
	background:#fff;
	border: none;
    border-radius: 0;
}
.img-zoom-holder {
	padding: 20%;
}
.popup-close {
	position: relative;
    top: 10px;
    right: 5px;
	z-index: 1;
}
.warning-label1 {
	padding-top:15px;
}
.warning-img-holder {
	padding-top:12px;
}
.warning-label2 {
	padding-top: 35px;
    padding-bottom: 45px;
}
.confirm-btn-holder {
	padding-bottom:20px;
}
.start1-btn, .start2-btn {
	width: 218px;
    display: block;
	margin: 0 auto;
	margin-bottom:12px;
}


#addmorestyle .modal-dialog {
	width: 852px;
}
.addmorestyle-paginate {
	position: absolute;
    right: 65px;
    top: 14px;
}
.addmorestyle-holder {
	position: relative;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
}
.popup-border {
	display: block;
    margin-top: 0;
    margin-bottom: 10px;
}
.addmorestyle-holder-inner {
	min-height: 455px;
    height: 455px;
    overflow-y: auto;
}
.addmorestyle-shirt-holder {
	border:1px solid #ccc;
	padding: 5%;
	margin-bottom: 14%;
	cursor:pointer;
}
.addmorestyle-shirt-holder-active {
	border:1px solid #7fc241;
}
.style-remove {
	width: 28px;
    height: 27px;
    position: absolute;
    right: 53px;
    top: 25px;
    background: url(../images/remove-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
	cursor:pointer;
	z-index:1;
}
.style-check {
	width: 28px;
    height: 27px;
    position: absolute;
    right: 20px;
    top: 25px;
    background: url(../images/selected-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
	cursor:pointer;
	z-index:1;
}
.style-check-active {
	 background: url(../images/selected-button-active.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.styleshirt-col {
	background:#fff;
}
.modal-footer {
    border-top: 1px solid #ccc;
    padding-right: 60px;
}
.done-btn {
	width: 155px;
}
.submit-width {
	width: 100px;
}




#addmoredesign .modal-dialog, #termsCondition .modal-dialog, #privacypolicy .modal-dialog, #refundpolicy .modal-dialog {
	width: 852px;
}
.design-item-holder {
	margin-bottom: 35px;
}
.store-image-box {
	width: 100%;
	height: auto;
	display: inherit;
	/* padding-top: 30%;
	padding-bottom: 22%;
	padding-left: 10%;
	padding-right: 10%; */
	padding:44px;
	background: #254985;
	position:relative;
	z-index:1;
	cursor:pointer;
	/*border-radius:20px;*/
}
.design-label {
	padding-bottom: 5px;
}
.design-backprint {
    background: url(../images/back-print-attribute.png) center center no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
	z-index: 1;
}
.store-selection-holder {
	position: absolute;
    top: 8px;
    right: 8px;
	z-index: 2;
}
.design-unselect,.design-select {
	width:30px;
	height:30px;
	cursor:pointer;
	display:inline-block;
	 -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.design-unselect {
	background: url(../images/remove-button-normal.png) center center no-repeat;
    background-size: 100% 100%;
	margin-right: 3px;
}
.design-unselect:hover {
	background: url(../images/remove-button-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.design-select {
	background: url(../images/selected-button-normal.png) center center no-repeat;
    background-size: 100% 100%;
}
.design-active {
	background: url(../images/selected-button-active.png) center center no-repeat;
    background-size: 100% 100%;
}




/**************error***************/
input.error, input.error:focus, textarea.error, textarea.error:focus, select.error, select.error:focus {
	border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder, select.error {
	/* color: #D12F19; */
}
label.error {
	display: inline-block;
    color: #D12F19;
    position: absolute;
    top: 100%;
    font-size: 13px;
    font-family: 'gibsonlight';
}

label.log-error-label {
    display: inline-block;
    color: #D12F19;
    position: relative;
    top: 100%;
    font-size: 13px;
    font-family: 'gibsonlight';
    z-index: 1;
    /*background: #fff;*/
    margin-bottom: 0;
}

label.error-input-goal {
	display: inline-block;
    color: #D12F19;
    position: absolute;
    font-size: 13px;
    font-family: 'gibsonlight';
}

label.error-template {
	display: inline-block;
    color: #D12F19;
    top: 100%;
    font-size: 13px;
    font-family: 'gibsonlight';
}
.handler {
	position:relative;
}



.float-error {
	border: 1px solid #b2b2b2;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    color: #D12F19;
    position: absolute;
    bottom: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'gibsonlight';
    background: #fff;
    padding: 8px;
    text-align: left;
}
.float-error:after {
	content: '';
    position: absolute;
	left: 0;
	right:0;
	margin:0 auto;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}
.float-error:before {
	content: '';
    position: absolute;
    left: 0;
	right:0;
	margin:0 auto;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b2b2b2;
}
/********END OF KEN CUSTOM**********/

.validation-error-reg {
	display: inline-block;
    color: #D12F19;
    position: absolute;
    top: 100%;
    font-size: 14px;
    font-family: 'gibsonlight';
    font-weight: 700;
}

.privacy-title {
	margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.selected-des-close {
	margin-top: 2px;
    position: relative;
    margin-right: 2px;
	display:none;
}
.custom-notif {
	position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;    
}
.custom-notif a:hover {
	color: #a94442;
	text-decoration:none;
}

.close-flash-notif{
	position: relative;
    top: -2px;
    right: -21px;
    color: #a94442;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: none;
    opacity: 1;
}

.tab-not-allowed {
	cursor: not-allowed;
    opacity: 0.4;
}
.tgen-loader-overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,2552,255,1);
    padding: 45%;
    z-index: 1;
	display:none;
}

.modal-notification-width {
	width: 80%;
}
.login-loader, .register-loader, .forgot-loader, .publish-loader, .subscribe-loader {
    display: none;
}
.img-loader {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}
.img-loader2 {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 18px;
}
.check-holder {
	padding-top: 55px;
    padding-bottom: 55px;
}
.cont-pad-bot {
	padding-bottom: 55px;
}
.cont-pad-bot2 {
	padding-bottom: 80px;
}
.visib-hidden {
	visibility: hidden;
}

@media only screen and (min-width: 320px) {
	.outer-nav {
		float:none;
	}
	.header-dropdown-holder button {
		display:inline-block;
	}
	.mob-text {
		display:none;
	}
	/* .header-dropdown-holder {
		position: absolute;
		bottom: 14px;
		right: 85px;
	} */
	.outer-nav>li:before {
		opacity:0;
	}
	.small-dev {
		display:block;
	}
	.large-dev {
		display:none;
	}
	.logo2 {
		display:block!important;
	}
	.logo1 {
		display:none!important;
	}
	.selected-des-close {
		display:block;
	}
	.inner-nav>li>a:before {
		border-right:0;
	}
	.reg-right {
		padding-left: 0;
		padding-top: 22px;
	}
}

@media only screen and (min-width: 480px) {
	.outer-nav {
		float:none;
	}
	.header-dropdown-holder button {
		display:inline-block;
	}
	.mob-text {
		display:none;
	}
	/* .header-dropdown-holder {
		position: absolute;
		bottom: 14px;
		right: 85px;
	} */
	.outer-nav>li:before {
		opacity:0;
	}
	.small-dev {
		display:block;
	}
	.large-dev {
		display:none;
	}
	.logo2 {
		display:none!important;
	}
	.logo1 {
		display:block!important;
	}
	.selected-des-close {
		display:block;
	}
	.inner-nav>li>a:before {
		border-right:0;
	}
	.reg-right {
		padding-left: 0;
		padding-top: 22px;
	}
}
@media only screen and (min-width: 768px) {
	.outer-nav {
		float:none;
	}
	.header-dropdown-holder button {
		display:inline-block;
	}
	.mob-text {
		display:none;
	}
	#myNavbar {
		padding-left:0;
		padding-right:0;
	}
	/* .header-dropdown-holder {
		position: absolute;
		bottom: 14px;
		right: 85px;
	} */
	.outer-nav>li:before {
		opacity:1;
	}
	.small-dev {
		display:none!important;
	}
	.large-dev {
		display:block;
	}
	.outer-nav>li.laster:before {
		opacity:0;
	}
	.logo2 {
		display:none!important;
	}
	.logo1 {
		display:block!important;
	}
	.selected-des-close {
		display:none;
	}
	.inner-nav>li>a:before {
		border-right:0;
	}
	.reg-right {
		padding-left: 0;
		padding-top: 22px;
	}
}

@media only screen and (min-width: 992px) {
	.outer-nav {
		float:none;
	}
	#myNavbar {
		padding-left:0;
		padding-right:0;
	}
	.header-dropdown-holder button {
		display:inline-block;
	}
	.mob-text {
		display:none;
	}
	/* .header-dropdown-holder {
		position: relative;
		bottom: -12px;
		right: 15px;
	} */
	.outer-nav>li:before {
		opacity:1;
	}
	.small-dev {
		display:none!important;
	}
	.large-dev {
		display:block;
	}
	.logo2 {
		display:block!important;
	}
	.logo1 {
		display:none!important;
	}
	.outer-nav>li.laster:before {
		opacity:0;
	}
	.selected-des-close {
		display:none;
	}
	.inner-nav>li>a:before {
		border-right: 1px solid #717171;
	}
	.reg-right {
		padding-left: 20px;
		padding-top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.outer-nav {
		float:right;
	}
	.header-dropdown-holder button {
		display:inline-block;
	}
	.mob-text {
		display:inline;
	}
	.header-dropdown-holder {
		position: relative;
		bottom: -12px;
		right: 0;
	}
	.small-dev { 
		display:none!important;
	}
	.large-dev {
		display:block;
	}
	.logo2 {
		display:none!important;
	}
	.logo1 {
		display:block!important;
	}
	.outer-nav>li.laster:before {
		opacity:0;
	}
	.selected-des-close {
		display:none;
	}
	.inner-nav>li>a:before {
		border-right: 1px solid #717171;
	}
	.reg-right {
		padding-left: 20px;
		padding-top: 0;
	}
}

@media screen and (max-width: 1366px) {
	.design-container {
		top: 0%;
		/*height:100%;*/
	}
}
@media screen and (max-width: 1199px) {
	.circle-or {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	
	.modal {
		padding:0!important;
		margin:0;
	}
	.modal-dialog {
		width:100%!important;
		height:100%;
		padding:0;
		margin:0;
	}
	
	.addmorestyle-holder-inner {
		height:auto;
	}
	
	#zoomer .modal-dialog {
		width:100%;
		height:100%;
	}
	#addmoredesign .modal-dialog, #addmorestyle .modal-dialog, #setcampdetails .modal-dialog, #termsCondition .modal-dialog, #privacypolicy .modal-dialog, #searchz .modal-dialog, #refundpolicy .modal-dialog {
		width:100%;
		height:auto;
	}
}