.cart-review-header {
	width: 100%;
    min-height: 194px;
    padding: 20px 0px;
    padding-bottom: 0;
    /*background: url(../images/manage-campaign-items-bg.jpg) center center no-repeat #0c0e0a;*/
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.managecamp-designlist-holder {
	/*padding-top:15px;*/
}
.managecamp-design-holder {
	position: relative;
    background: #000;
    border: 4px solid #ccc;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
	cursor:pointer;
	/*border-radius: 10px;*/
}
.managecamp-design-holder-blank {
	padding: 0;
	border: 2px solid #ccc;
    border-style: dashed;
    width: 100%;
    height: 165px;
	cursor:pointer;
	background:#fff url(../images/add-more-designs-large.png) center center no-repeat;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
	background-size: 50%;
	opacity: 0.7;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	/*border-radius: 10px;*/
}
.managecamp-design-holder-blank:hover {
	opacity:1;
}
.selected-design {
	border: 4px solid #7fc241;
}
.selected-design:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -47%;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 9px solid #7fc241;
    clear: both;
    overflow: visible;
}
/*.selected-design:after {
    content: '';
    position: absolute;
    left: 205px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}*/
.managecamp-designbtn-holder {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
   /* border-radius: 10px;*/
	background:rgba(0,0,0,0.8);
	text-align: center;
	opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	z-index:-1;
}
.selected-design .managecamp-designbtn-holder {
	opacity:1;
	z-index:1;
}
.managecamp-designbtn-holder-inner {
	position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.managecamp-designbtn-edit {
	width: 31px;
    height: 31px;
	background: transparent url(../images/edit-icon-large.png) center center no-repeat;
	background-size:100%;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	display:inline-block;
	margin-right: 4px;
}
.managecamp-designbtn-edit:hover {
	background: transparent url(../images/edit-icon-large-hover.png) center center no-repeat;
	background-size:100%;
}
.managecamp-designbtn-remove {
	width: 31px;
    height: 31px;
	background: transparent url(../images/large-remove-button.png) center center no-repeat;
	background-size:100%;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	display:inline-block;
}
.managecamp-designbtn-remove:hover {
	background: transparent url(../images/large-remove-button-hover.png) center center no-repeat;
	background-size:100%;
}
.managecamp-do-btn-holder {
	position:relative;
	padding-bottom: 31px;
    text-align: center;
}
.managecamp-do-btn {
	margin-top:15px;
	/* background: #b2b2b2 url(../images/sc-icon.png) 8px 10px no-repeat;
    background-size: 15px; */
}
/* .managecamp-do-btn:hover {
	background: #797979 url(../images/sc-icon.png) 8px 10px no-repeat;
	background-size: 15px;
} */
.managecamp-designcolor-holder {
	border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    bottom: 90%;
    left: -11px;
    width: 225px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	z-index:-1;
}
.managecamp-designcolor-holder-show {
	opacity:1;
	z-index:3;
}
.managecamp-designcolor-holder:before {
	content: '';
    position: absolute;
    left: 20px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b2b2b2;
}
.managecamp-designcolor-holder:after {
	content: '';
    position: absolute;
    left: 22px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}
.managecamp-designcolor-header {
	background: #b2b2b2;
    line-height: 14px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
	border-radius: 3px 3px 0px 0px;
}
.managecamp-designcolor-cont {
	position: relative;
    padding: 15px 10px;
    padding-bottom: 0;
    overflow-y: auto;
    height: 96px;
}
.managecamp-designcolor-cont2 {
	position: relative;
    padding: 15px 10px;
    padding-bottom: 0;
    overflow-y: auto;
    height: 96px;
}
.selected-color {
	width: 22px;
    height: 22px;
    background: #000;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.selected-color img {
	margin: 2.5px auto;
	opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	z-index:-1;
}
.selected-color-active img {
	z-index:1;
	opacity:1;
}
.review-design-header {
	/*background:#f1f1f1;*/
	padding: 34px;
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 25px;
}
.camp-horn {
	display: inline-block;
    padding-right: 15px;
    position: relative;
    /*top: -5px;*/
}
.create-camp-link {
	color:#797979;
	text-decoration: underline;
	cursor: pointer;
}
.create-camp-link:hover {
	color:#010101;
}
.managecamp-btn {
	width: 48%;
}
.review-design-section {
	padding-top: 25px;
    padding-bottom: 25px;
	position: relative;
    background: #f2f2f2;
}
.cart-review-item-holder {
	border:1px solid #ccc;
	position:relative;
	margin-bottom: 18%;
}
.cart-review-remove {
	width:28px;
	height:28px;
	position:absolute;
	top:5px;
	right:5px;
	background: url(../images/remove-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	z-index: 1;
}
.cart-review-remove:hover {
	background: url(../images/remove-button-hover.png) center center no-repeat;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.cart-review-remove2 {
    width:28px;
    height:28px;
    position:absolute;
    top:5px;
    right:25px;
    background: url(../images/remove-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
    cursor:pointer;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1;
    display: none;
}
.cart-review-remove2:hover {
    background: url(../images/remove-button-hover.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}
.cart-review-zoom {
	width:28px;
	height:27px;
	position:absolute;
	top:38px;
	right:5px;
	background: url(../images/zoom-button.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
	cursor:pointer;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	z-index: 1;
}
.cart-review-zoom:hover {
	background: url(../images/zoom-button-hover.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cart-review-shirt-holder {
	position: relative;
    /* padding-top: 12%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%; */
}
.shirt-col {
	background: #2b2b2b;
}
.managecamp-detail-holder {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    /*text-align: center;*/
}
.review-title {
	display:block;
}
.managecamp-stylecolor-cont {
	position:relative;
    height: 29px;
}
.selected-stylecolor {
	width: 22px;
    height: 22px;
    background: #ba2a2a;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
   /* display: inline-block;*/
}
.selected-stylecolor-plus {
	width: 22px;
    height: 22px;
    background: url(../images/add-colors-icon.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	position:relative;
}
.selected-stylecolor-plus:hover {
	background: url(../images/add-colors-icon-hover.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.selected-stylecolor img {
    margin: 2.5px auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
}
.managecamp-detail-number {
	position:relative;
	border-top:1px solid #ccc;
}
.managecamp-left-number, .managecamp-center-number, .managecamp-right-number {
	float:left;
	width: 33.3%;
	height: 75px;
	padding: 10px 5px;
}
.managecamp-right-number {
	background:#fafafa;
}
.managecamp-center-number {
	border-right:1px solid #ccc;
	position:relative;
}
.managecamp-sellingprice {
	height: 32px;
    max-width: 90px;
    margin: 0 auto;
    margin-top: 2px;
	display:block;
}
.addmore-colors {
	bottom: 116%;
    left: -16px;
}

.proceed-btn {
	letter-spacing:1px;
}
.design-container {
	top: 8%;
	min-height:auto;
}
.reviewdesign-cont-item-holder {
	position:relative;
	padding: 20px;
	padding-bottom: 90px;
}
.total-items-holder {
	padding-left: 18px;
    padding-right: 18px;
}
.total-border {
	border:2px solid #f47522;
	border-radius:5px;
	padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
	margin-top: 20px;
}
.confirm-header {
	background:#000;
	padding: 15px;
	height: 50px;
}
.zoom-modal-holder {
	background:#010101;
	border: none;
    border-radius: 0;
}
.confirm-modal-holder, .sizechart-modal-holder {
	background:#fff;
	border: none;
    border-radius: 0;
}
.img-zoom-holder {
	padding: 20%;
}
.popup-close {
	position: relative;
    top: 10px;
    right: 5px;
	z-index: 1;
}
.warning-label1 {
	padding-top:15px;
}
.warning-img-holder {
	padding-top:12px;
}
.warning-label2 {
	padding-top: 35px;
    padding-bottom: 45px;
}
.confirm-btn-holder {
	padding-bottom:20px;
}
.nogoback-btn, .yesremove-btn {
	width: 218px;
    display: block;
	margin: 0 auto;
	margin-bottom:12px;
}
.sizechart-label1 {
	padding-top: 15px;
    padding-bottom: 15px;
}
.sizechart-img-holder {
	margin-bottom: 35px;
}
.table {
	margin-bottom: 28px;
}
.q-icon {
	background: transparent url(../images/question-mark-icon-small.png) center center no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: 7px;
    margin-left: 2px;
}
.q-pop {
	border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    bottom: 195%;
    left: -206px;
    width: 225px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
    font-family: 'gibsonregular';
    text-align: left;
    font-size: 13px;
    color: #b2b2b2;
    padding: 8px;
    padding-top: 6px;
    line-height: 15px;
}
.q-pop:before {
    content: '';
    position: absolute;
    left: 203px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b2b2b2;
}
.q-pop:after {
    content: '';
    position: absolute;
    left: 205px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}

.q-pop2 {
	border: 1px solid #b2b2b2;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    bottom: 195%;
    left: -23px;
    width: 225px;
    height: 150px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: -1;
    font-family: 'gibsonregular';
    text-align: left;
    font-size: 13px;
    color: #b2b2b2;
    padding: 8px;
    padding-top: 6px;
    line-height: 15px;
}
.q-pop2:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b2b2b2;
}
.q-pop2:after {
    content: '';
    position: absolute;
    left: 22px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
}
.q-pop-show {
    opacity: 1;
    z-index: 3;
}
.s-style {
    padding: 2% 5% 0 5%;
    background: #fff;
}
.s-chart {
    padding: 0% 5% 2% 5%;
    background: #fff;
}
.bg-white {
    background: #fff;
}
.sell-lbl {
    padding-bottom: 20px;
    text-align: center;
}
.edit-des {
    background: transparent;
    border: 2px solid #ccc;
    color: #b2b2b2;
}
.edit-des:hover, .edit-des:focus, .edit-des.focus {
    color: #b2b2b2;
}
.managecamp-design-holder-blank, .design-display {
    margin-top: 17px;
}
.des-bg {
    background: #f2f2f2;
}
.buy-instead-link {
    padding-top: 11px;
    /*padding-left:2px!important;*/
}
.show-color {
    color: #7fc241;
    cursor: pointer;
    display: inline-block;
}
.color-catcher {
    z-index: 1;
}
.color-catcher-showall {
    position: absolute;
    background: #fff;
    z-index: 2;
    width: 100%;
    height: 135px;
    top: 0;
    padding: 0px;
    display: none
}
.my-collection-lbl {
    font-size: 29px;
    color: #a4a4a4;
}
.min-price-pad {
    margin-top: 7px;
}
.profit-pad {
    margin-top: 8px;
}
@media only screen and (min-width: 320px) {
	.review-design-header {
		padding-left:0;
		padding-right:0;
		padding-top: 25px;
		text-align: center;
	}
	.review-design-header a {
		font-size: 18px;
	}
	.design-container {
		top: 15%;
	}
	.managecamp-design-holder-blank {
		height:334px;
		margin-bottom: 40px;
	}
	.managecamp-setup-btn {
		margin-top:10px;
	}
}

@media only screen and (min-width: 480px) {
	.review-design-header {
		padding-left:0;
		padding-right:0;
		padding-top: 25px;
		text-align: center;
	}
	.design-container {
		top: 10%;
	}
	.managecamp-design-holder-blank {
		height:492px;
		margin-bottom: 40px;
	}
	.managecamp-setup-btn {
		margin-top:20px;
	}
}
@media only screen and (min-width: 768px) {
	.managecamp-design-holder-blank {
		height:277px;
		margin-bottom: 72px;
	}
	.managecamp-setup-btn {
		margin-top:0;
	}
	
}
@media only screen and (max-width: 991px) {
	.buy-instead-btn {
		margin-bottom: 2%;
	}
    .blank-design {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
	.managecamp-design-holder-blank {
		height:269px;
		margin-bottom: 82px;
	}
	.managecamp-setup-btn {
		margin-top:0;
	}
}

@media only screen and (max-width: 1199px) {
    .selected-design:before {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
	.managecamp-design-holder-blank {
		height: 165px;
		margin-bottom: 72px;
	}
	.managecamp-setup-btn {
		margin-top:0;
	}
}



