.bg-header {
    width: 100%;
    min-height: 242px;
    padding: 45px 0px;
    padding-bottom: 0;
    background: url(../images/contact-bg.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.product-holder {
    padding-top: 20px;
    padding-bottom: 100px;
}
.modal-bg {
	background: #fff;
}
.cont-item {
    cursor: pointer;
    margin-top: 90px;
}
.slider-outer {
	position: relative;
}

.prod-holder {
	overflow-y: hidden;
	overflow-x: hidden;
    position: relative;
    height: 218px;
    top: 0;
    margin: 0 auto;
    margin-top: 4%;
}
.right-slide, .left-slide {
	top:48%!important;
}
.measure-lbl {
	margin-bottom: 3%;
}
.sizechart-lbl {
	margin-top:3%;
}
.img-cont {
	position: absolute;
    top: 0;
    left: 70px;
}
.size-table {
	position: absolute;
	bottom: 0;
}
.tbl-style {
	table-layout: fixed;
}
.right-slide {
	top: 20%;
    transform: matrix(1, 0, 0, 1, 20, -20);
    right: 26px;
    visibility: inherit;
    opacity: 0.4;
    background: #000!important;
}
.right-slide:hover {
	opacity: 1; 
}
.left-slide {
	top: 20%;
    transform: matrix(1, 0, 0, 1, 20, -20);
    left: -17px;
    visibility: inherit;
    opacity: 0.4;
    background: #000!important;
}
.left-slide:hover {
	opacity: 1;
}
.cont-holder {
    margin-top: 3%;
    margin-bottom: 5%;
}
.measure-pad {
    padding: 0 5%;
}

.font-medium-2 {
	font-size: 17px;
}