
.search-area {
	width: 100%;
    min-height: 535px;
    padding: 104px 0px;
    background: url(../images/school-search-bg.jpg) center center no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
	position:relative;
}
.search-area-opt {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.35;
}
.featured-area-opt {
	position: absolute;
    width: 100%;
    height: 645px;
   /* bottom: 0;*/
    left: 0;
    background: #000;
    opacity: 0.35;
}
.search-title {
	margin-bottom: 42px;
}

.featured-area {
	width: 100%;
	min-height: 645px;
	background: url(../images/school-search-featured-bg.jpg) center center no-repeat #0c0e0a;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
}

.featured-area-vertical-spacing {
	padding: 50px 0px;
}

.sales-counter {
	position: absolute;
    /*bottom: 74px;*/
    bottom: 92px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    background: rgba(255,255,255,0.3);
    z-index: 1;
}

.image-box {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: inherit;
  /* padding-top: 22%;
  padding-bottom: 22%;
  padding-left: 10%;
  padding-right: 10%; */
  padding: 42px;
  background: #000;
  /*border-radius:20px;*/
}

.image-box img, a.shirt-name-link {
  -webkit-transition: 1s linear;
  transition: .3s linear;
  transition: .3s linear;
}

.image-overflow-center {
	width: 100%;
	margin: 0 auto;
}

.image-box img:hover, a.shirt-name-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

a.shirt-name-link {
	/* color: #b2b2b2; */
	text-decoration: none;
}

a.shirt-name-link h3 {
	color: #717171;
	text-decoration: none;
}

a.shirt-name-link h3 span {
	color: #b2b2b2;
	text-decoration: none;
}

a.shirt-name-link h3:hover {
	color: #535353;
	text-decoration: none;
}
a.shirt-name-link span:hover {
	color: #717171;
	text-decoration: none;
}
.pad-right-zero {
	padding-right: 0;
}

.btn-balance {
	width: 100%;
	padding: 9px 0;
}

.vertical-spacing {
	/* margin-top: 62px; */
	margin-bottom: 35px;
}
.label-center {
	margin: 22px auto;
    max-width: 608px;
}

/************Edited by ken**************/
.school-pop-header {
	background:#959595;
	padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
}
.school-pop-cont {
	padding: 20px;
}
.school-pop-cont a:hover {
	color:#7fc241;
	text-decoration: none;
}
.school-pop-data {
	border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 20px;
    height: 390px;
    overflow-y: scroll;
}
.cant-find-holder {
	position:relative;
}


.cantfind-dialog {
    width: 765px;
    margin: 30px auto;
}
.cantfind-cont {
	padding:12px;
}
.cantfind-col {
	color: #ccc;
    font-size: 28px;
    position: relative;
    top: -2px;
    right: -7px;
}
.text-col {
	padding: 9px 12px;
	cursor:pointer;
	position:relative;
}
.selected-col1 {
	color:#ccc;
}
.selected-col2 {
	color:#ccc;
}
.color-primary, .color-secondary {
	width: 100%;
    position: absolute;
    padding: 0;
    left: 0;
    top: 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
    padding: 14px;
    margin: 0;
	display:none;
}
.col-selection {
	font-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    background: #333;
    border-radius: 200px;
}
.col-selection + .tooltip > .tooltip-inner {
	background-color: #000;
}
.col-selection + .tooltip.top > .tooltip-arrow {
	border-top-color: #000000; /* black */
}
.color-primary li {
	
}
.cantfind-upload-holder {
	height:auto;
	padding: 25px;
}
.cantfind-uploader {
	border:1px dashed #ccc;
	border-right:0;
	width:65%;
	height: 42px;
	display:inline-block;
	/* text-transform:uppercase; */
	color:#767676;
	line-height: 42px;
    vertical-align: middle;
	cursor:pointer;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-upload {
	position: relative;
    left: -4px;
    font-size: 18px;
}
.upload-btn {
	height: 42px;
    display: inline-block;
	cursor:pointer;
}

.captcha-holder {
	border:1px solid #ccc;
	border-radius:5px;
	padding: 14px;
}
.captcha-checkbox {
	position: relative;
    top: 15px;
}
.captcha-checkbox span {
	display:inline-block;
	vertical-align: middle;
}
.checkbox-robot {
	border:2px solid #ccc;
	border-radius:5px;
	width:30px;
	height:30px;
	margin-right: 8px;
	cursor:pointer;
}
.captcha-img {
	width: 60px;
}
.cantfind-submit-holder {
	text-align:center;
	padding-top:30px;
}
.cantfind-submit {
	width:80%;
}

.align-margin {
	margin-top: 27px;
}
.checker-box-active {
    background: #fff url(../images/check.png);
    background-repeat: no-repeat;
    background-position: center;
}
.right-on-img {
	margin-top:10%;
	/*margin-bottom: 5%;*/
}
.right-on-capt {
	font-size: 42px;
	color: #aeaaaa;
}
.info-submit {
	color: #aeaaaa;
	font-size: 16px
}
.infosubmit-holder {
	text-align: center;
}
.homepage-btn-holder {
	text-align:center;
	padding-top:50px;
	padding-bottom: 50px;
}
.pop-header-notxt {
    background: #959595;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 35px;
}
.float-error {
	bottom: 107%;
	max-width: 190px;
}
.cant-find {
	display:none;
}

.dropdown-select-space-fix {
	padding-left: 8px; 
}

@media only screen and (min-width: 320px) {
	.pad-right-zero {
		padding-right: 15px;
	}
	/* .cantfind-cont {
		max-height: 350px;
		overflow-y: scroll;
		overflow-x: hidden;
	} */
	.cantfind-dialog {
		width: 90%;
	}
	.search-area {
		padding: 242px 0px 0px 0px;
	}
}

@media only screen and (min-width: 480px) {
	.pad-right-zero {
		padding-right: 15px;
	}
	/* .cantfind-cont {
		max-height: 500px;
		overflow-y: scroll;
		overflow-x: hidden;
	} */
	.cantfind-dialog {
		width: 90%;
	}
	.search-area {
		padding: 242px 0px 0px 0px;
	}
}


@media only screen and (min-width: 768px) {
	.pad-right-zero {
		padding-right: 15px;
	}
	/* .cantfind-cont {
		max-height: 500px;
		overflow-y: scroll;
		overflow-x: hidden;
	} */
	.cantfind-dialog {
		width: 90%;
	}
	.search-area {
		padding: 242px 0px 0px 0px;
	}
}

@media only screen and (min-width: 992px) {
	.pad-right-zero {
		padding-right: 0px;
	}
	.cantfind-dialog {
		width: 90%;
	}
	.search-area {
		padding: 73px 0px;
	}
}

@media screen and (min-width: 1200px) {
	.pad-right-zero {
		padding-right: 0px;
	}
	.cantfind-dialog {
		max-width: 765px;
	}
	.search-area {
		padding: 73px 0px;
	}
}
