.store-header {
	position: relative;
	width: 100%;
    min-height: 440px;
    padding: 114px 0px;
    padding-bottom: 0;
    background: url(../images/school-store-texture.png) center center no-repeat #3e3e3e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.camp-header {
	width: 100%;
    min-height: 242px;
    padding: 48px 0px;
    padding-bottom: 0;
    background: url(../images/placeholder-bg.jpg) center 100% no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.sub-title {
	color: #a2906b;
    display: inline-block;
    /*border-bottom: 3px solid #a2906b;*/
    padding-bottom: 10px;
}
.sub-title2 {
	display: block;
    padding-top: 10px;
    padding-bottom: 100px;
}
.store-design-header {
	background: #f4f4f4;
	padding-top: 15px;
	padding-bottom: 22px;
}
.mob-menu {
	background: #f4f4f4;
    margin-bottom: 0;
    min-height: 50px;
}
.mob-menu .navbar-header {
	border: 1px solid #ccc;
    border-radius: 5px;
}
.mob-selector {
	color:#717171!important;
	margin-left: 25px;
}
.nav-tabs {
	position: relative;
    bottom: -1px;
}
.store-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
    color: #c7c5c5;
    font-size: 22px;
    font-family: 'gibsonregular';
}
.nav-tabs>li>a:hover {
    border-color: #f4f4f4 #f4f4f4 #f4f4f4;
	/*border-bottom-color:#fff;*/
}
.store-nav>li>a:hover, .store-nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
}
.dropdown-toggle:focus {
    outline: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #858585;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    /*border-bottom-color: transparent;*/
    cursor: default;
}
.store-nav .open>a, .store-nav .open>a:hover, .store-nav .open>a:focus {
    background-color: #fff;
    border-color: #f4f4f4;
}
.store-nav .dropdown-menu {
	background: #f4f4f4;
}
.store-nav .dropdown-menu li {
	border-bottom: 1px solid #eee;
}
.store-nav .dropdown-menu li a {
	color: #c7c5c5;
}

.store-design-holder-outer {
	position:relative;
	overflow:hidden;
}
.store-design-holder {
	padding-top: 50px;
   
}
.design-item-holder {
	margin-bottom: -30px;
	text-align: center;
}
.camp-item {
	margin-bottom: 30px;
	cursor:pointer;
}
.store-image-box {
	width: 100%;
	height: auto;
	display: inherit;
	padding: 42px;
	background: #254985;
	position:relative;
	/*border-radius:20px;*/
	border: 1px solid #e1dfdf;
}
.design-label {
	padding-bottom: 5px;
}
.design-backprint {
    background: url(../images/back-print-attribute.png) center center no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
	z-index: 1;
    overflow: hidden;
	opacity: 1;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.store-selection-holder {
	position: absolute;
    top: 8px;
    right: 8px;
	z-index: -1;
    overflow: hidden;
	opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.design-unselect,.design-select {
	width:30px;
	height:30px;
	cursor:pointer;
	display:inline-block;
	 -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.design-unselect {
	background: url(../images/remove-button-normal.png) center center no-repeat;
    background-size: 100% 100%;
	margin-right: 3px;
}
.design-unselect:hover {
	background: url(../images/remove-button-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.design-select {
	background: url(../images/selected-button-normal.png) center center no-repeat;
    background-size: 100% 100%;
}
.design-active {
	background: url(../images/selected-button-active.png) center center no-repeat;
    background-size: 100% 100%;
}
.store-holder-variation {
	position:relative;
	z-index: -1;
    overflow: hidden;
	opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	background:#fff;
	text-align:center;
    
}
.active-var {
	opacity:1;
	z-index:1;
}
.active-on {
	opacity:1;
	z-index:1;
}
.store-image-variation {
	border: 1px solid #ccc;
    border-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    /*border-radius: 20px;*/
	background: #e1dfdf;
}
.variation-title {
	padding-top:5px;
}
.variation-slider {
	position:relative;
	    padding-left: 4px;
    padding-right: 4px;
}
.design-variation-holder {
	border:1px solid #fff;
	border-radius: 5px;
    /* padding: 12px 10px; */
	padding: 4px 15px;
	position:relative;
}
.design-image {
	padding: 2px;
}
.design-variation-active {
	border:1px solid #7ec241;
	background:#e1dfdf;
}
.design-variation-active:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 6px #7ec241;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}
.design-variation-prev {
	position: absolute;
    top: 24px;
    left: -12px;
	color:#7ec241;
	cursor:pointer;
	z-index:2;
	font-size:30;
}
.design-variation-next {
	position: absolute;
    top: 24px;
    right: -12px;
	color:#7ec241;
	cursor:pointer;
	z-index:2;
	font-size:30;
}
.design-variation-btn {
	border: 1px solid #9a9a9a;
    border-radius: 4px;
    width: 96%;
    height: 40px;
    /*background: #b2b2b2 url(../images/variation-icon.png) 14px center no-repeat;*/
    background: #b2b2b2;
    background-size: 22px;
    top: -164px;
    position: relative;
}
.design-variation-btn:hover {
	border:1px solid #9a9a9a;
	background: #9a9a9a;
    background-size: 22px;
}
.design-variation-btn-hide {
	opacity:0;
}
.adddesign-variation-btn {
	width:96%;
	margin-top:12px;
}

.current-camp-header {
	background:#f4f4f4;
	padding-top: 30px;
    padding-bottom: 30px;
	margin-top: 50px;
}
.current-camp-header h2 {
	margin-top:10px;
}
.current-camp-holder {
	background:#e1e0e0;
	padding-top:100px;
	padding-bottom:150px;
}
.image-box {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: inherit;
  /* padding-top: 22%;
  padding-bottom: 22%;
  padding-left: 10%;
  padding-right: 10%; */
  padding:42px;
  background: #254985;
  /*border-radius:20px;*/
}

.image-box img, a.shirt-name-link {
  -webkit-transition: 1s linear;
  transition: .3s linear;
  transition: .3s linear;
}

.image-overflow-center {
	width: 100%;
	margin: 0 auto;
}

.image-box img:hover, a.shirt-name-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

a.shirt-name-link {
	/* color: #b2b2b2; */
	text-decoration: none;
}

a.shirt-name-link h3 {
	color: #717171;
	text-decoration: none;
}

a.shirt-name-link span {
	color: #b2b2b2;
	text-decoration: none;
}

a.shirt-name-link h3:hover {
	color: #535353;
	text-decoration: none;
}
a.shirt-name-link span:hover {
	color: #717171;
	text-decoration: none;
}
.pr {
	display:block;
}
.stat {
	border: 1px solid #7fc241;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    display: -webkit-inline-box;
    margin-top: 8px;
	margin-bottom: 20px;
}
.ended {
	border:1px solid #ec0707;
	color:#ec0707;
}



.design-cont-item-holder {
	position:relative;
	/*height: 520px;*/
	height: 418px;
    overflow: auto;
}
.store-small-box {
	width: 30%;
    height: auto;
    float: left;
	padding:16px;
    background: #254985;
    position: relative;
}
.design-item-label {
	float: left;
    position: relative;
    padding-left: 15px;
    top: 32px;
    width: 50%;
}
.design-item-holder-small {
	border-bottom: 1px solid #ccc;
}
.remove-design-box {
    width: 25px;
    height: 25px;
    background: transparent url(../images/remove-button-normal.png) center center no-repeat;
    background-size: 24px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 15px;
    top: 32px;
	 -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.remove-design-box:hover {
	background: transparent url(../images/remove-button-hover.png) center center no-repeat;
    background-size: 24px;
}
.empty-collection {
	margin-top:20px;
}
.school-bg {
    position: absolute;
    width: 100%;
	height: 100%;
    /* height: 440px; */
    top: 0;
    left: 0;
    /*background: #3e3e3e;
    opacity: 0.55;*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0.65) 99%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.no-border {
	border-bottom: none!important;
}

label.art-category {
	cursor: pointer;
	font-weight: normal;
}


@media only screen and (min-width: 320px) {
	.store-nav>li {
		width: 100%;
	}
	.design-variation-prev, .design-variation-next {
		font-size:40px;
	}
	.design-variation-btn {
		top: -210px;
	}
	.schoolstore-mob-holder {
		border: 1px solid #ccc;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.schoolstore-mob-holder .navbar-collapse.in {
		overflow-y: inherit;
	}

@media only screen and (min-width: 480px) {
	.store-nav>li {
		width: 100%;
	}
	.design-variation-prev, .design-variation-next {
		font-size:40px;
		top: 40px;
	}
	.design-variation-btn {
		top: -250px;
	}
	.schoolstore-mob-holder {
		border: 1px solid #ccc;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.schoolstore-mob-holder .navbar-collapse.in {
		overflow-y: inherit;
	}
}
@media only screen and (min-width: 768px) {
	.store-nav>li {
		width: auto;
	}
	.design-variation-prev, .design-variation-next {
		font-size:40px;
		top: 20px;
	}
	.design-variation-btn {
		top: -185px;
	}
	.mob-menu .navbar-header {
		display:none;
	}
	.schoolstore-mob-holder {
		border: 1px solid transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
	.schoolstore-mob-holder .navbar-collapse.in {
		overflow-y: auto;
	}
}

@media only screen and (min-width: 992px) {
	.store-nav>li {
		width: auto;
	}
	.design-variation-prev, .design-variation-next {
		font-size:30px;
		top: 8px;
	}
	.design-variation-btn {
		top: -135px;
	}
	.mob-menu .navbar-header {
		display:none;
	}
	.schoolstore-mob-holder {
		border: 1px solid transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
	.schoolstore-mob-holder .navbar-collapse.in {
		overflow-y: auto;
	}
}

@media screen and (min-width: 1200px) {
	.store-nav>li {
		width: auto;
	}
	.design-variation-prev, .design-variation-next {
		font-size:30px;
		top: 14px;
	}
	.mob-menu .navbar-header {
		display:none;
	}
	.schoolstore-mob-holder {
		border: 1px solid transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
	.schoolstore-mob-holder.navbar-collapse.in {
		overflow-y: auto;
	}
}
