.design-thumb {
    padding: 10px;
    width: 100%;
    height: 100%;
}
.design-thumb img {
	height:100%;
}
.thumb-padd {
	border-radius: 5px;
	margin-right: 10px;
    margin-bottom: 10px;
    width: 86px;
    height: 86px;
    float: left;
	border:1px solid #ccc;
	position:relative;
	cursor:pointer;
}
.selected {
	border:1px solid #7fc241!important;
}
.shirt-style-holder {
	position:relative;
}
.shirt-style-thumb {
	float:left;
	font-size: 41px;
	cursor:pointer;
}
.shirt-color-holder {
	position:relative;
	margin-top: 20px;
}
.shirt-col-thumb {
	float:left;
	padding-right: 8px;
    padding-top: 8px;
	cursor:pointer;
}
.tooltip {
	border:1px solid #ccc;
	background:#fff;
	border-radius:5px;
	padding:0px!important;
}
.remove-design {
	position: absolute;
    top: -13px;
    cursor: pointer;
    right: 5px;
}
.carouselHolder {
	width: 70%;
    margin: 0 auto;
}
.carouselHolder .item {
	border:1px solid #ddd;
	padding:10px;
	border-radius:5px;
	height: 123px;
}
.carouselHolder .activez {
	border:1px solid #7fc241;
}
.owl-carousel .owl-item img {
	width:75%!important;
}
.owl-prev {
	position: absolute;
    left: -41px;
    top: 40%;
	font-size:20px;
	color:#c7c5c5;
}
.owl-next {
	position: absolute;
    right: -41px;
    top: 40%;
	font-size:20px;
	color:#c7c5c5;
}
.owl-prev:hover, .owl-next:hover {
	color:#b4b4b4;
}
.zoom {
	font-size: 30px;
    position: absolute;
    right: 0;
	cursor:pointer;
}
.zoom-label {
	display: block;
    line-height: 12px;
}

.modal-md {
	width: 815px;
}
.modal-content {
	border-radius: 0;
	
}
.modal-header {
	background: #000;
}

.modal-body-custom {
	padding: 30px;
    background: #000;
}
.close-modal {
	font-size: 25px;
}
.mod-btn-done {
	padding: 6px 30px;
}
.art-selection {
	padding-left: 5%;
    padding-right: 5%;
	overflow:hidden;
}
.artscroll {
	height: 445px;
}
.art-holder {
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.unselect {
	position: absolute;
    top: 3px;
    cursor: pointer;
    right: 24px;
}