.track-header {
	width: 100%;
    min-height: 242px;
    padding: 48px 0px;
    padding-bottom: 0;
    background: url(../images/placeholder-bg.jpg) center 100% no-repeat #0c0e0a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.track-number-holder {
	background:#f4f4f4;
	padding-bottom: 10px;
    padding-top: 10px;
}
.track-num-text {
	margin-bottom: 5px;
}
.track-detail-holder {
	margin-bottom: 100px;
}
.track-activ {
	margin-top: 15px;
    margin-bottom: 15px;
}
.track-trav {
	border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.track-loc {
	padding-right: 115px;
}
.panel-group .panel {
	border-radius:0;
	border:0;
}
.panel-default>.panel-heading {
	background-color:#f4f4f4;
	padding:15px 15px;
	color:#535353;
	border: 1px solid #ddd;
	border-radius: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top:0;
	padding-left:0;
	padding-right:0;
}
.panel-group .panel+.panel {
    margin-top: 10px;
	box-shadow: none;
}
.track-data {
	display:block;
}
.track-collapse {
	padding-right: 5px;
    font-size: 12px;
    position: relative;
    top: 0px;
}
.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
	color:#333;
	text-decoration:none;
}