
.tgen-visitor-customize {
	position:relative;
}
.tgen-right-holder {
	position:relative;
	border:1px solid #ccc;
    padding-bottom: 40px;
	/* padding-top: 30px; */
	margin-top: 25px;
}
.tgen-lefticon-holder {
	position:absolute;
	left: 0;
    top: 0;
	z-index: 1;
	background: #fff;
	margin: -1px;
	border-bottom:1px solid #ccc;
}
.tgen-righticon-holder {
	position:absolute;
	right: 0;
    top: 0;
	z-index: 1;
	background: #fff;
	margin: -1px;
	display:none;
}
.tgen-icon-holder {
	border:1px solid #ccc;
	border-bottom: 0;
	text-align:center;
	width:75px;
	cursor:pointer;
	padding-top: 10px;
    padding-bottom: 8px;
	position:relative;
}
.tgen-icon-holder2 {
	border:1px solid #ccc;
	text-align:center;
	width:auto;
	cursor:pointer;
	padding-top: 10px;
    padding-bottom: 8px;
}
.social-share {
	border: 1px solid #ccc;
    position: absolute;
    right: -196px;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fff;
    border-radius: 3px;
    top: 13px;
	display:none;
}
.social-share:before {
	content: '';
    position: absolute;
    left: -12px;
    top: 16px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #ccc;
    border-bottom: 7px solid transparent;
}
.social-share:after {
	content: '';
    position: absolute;
    left: -10px;
	top: 16px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #fff;
    border-bottom: 7px solid transparent;
}
.social-share span {
	font-size: 33px;
    cursor: pointer;
    color: #b2b2b2;
    margin: -4px;
}
.social-share span:hover {
	color: #717171;
}
.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
	display:block;
	width:40px;
	height:40px;
	left: 0;
    right: 0;
    margin: 0 auto;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.tgen-zoom {
	background: url(../images/zoom-large-button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-icon-holder:hover .tgen-zoom {
	background: url(../images/zoom-large-button-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-spec {
	background: url(../images/size-chart-button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-icon-holder:hover .tgen-spec {
	background: url(../images/size-chart-button-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-share {
	background: url(../images/share-button-large.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-icon-holder:hover .tgen-share {
	background: url(../images/share-button-large-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-sc {
	background: url(../images/super-customize-icon-small.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.tgen-icon-label {
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	line-height: 14px;
    padding-top: 5px;
}
.tgen-icon-label2 {
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	line-height: 14px;
    padding-top: 5px;
	width: 84px;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}
.tgen-icon-holder:hover .tgen-icon-label {
	color: #717171;
}
.tgen-shirt-holder {
	position:relative;
}
.shirt-col {
	background:#f9f9f9;
}
.art-holder {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; 
    /*background: #7C2328;*/
}
.tgen-fb-btn-holder {
	position:relative;
	text-align:center;
	padding-top: 25px;
	display:none;
}
.front-btn, .back-btn {
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	display: inline-block;
	padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.front-btn {
	border-radius: 5px 0px 0px 5px;
}
.back-btn {
	border-radius: 0px 5px 5px 0px;
}
.activepane {
	background:#e1dfdf;
	color:#717171;
}
.tgen-right-holder-footer {
	background:#fafafa;
	border:1px solid #ccc;
	border-top:0;
	padding-bottom:12px;
	padding-top: 10px;
}
.tgen-variation-slider {
	position:relative;
	margin-left:32%;
    margin-right: 32%;
}
.design-variation-label {
	padding-bottom:7px;
}
.design-variation-holder {
	padding: 20px;
    /* padding-top: 25%;
    padding-bottom: 25%; */
    background: #000;
    border-radius: 10px;
	border:2px solid #b9b9b9;
	cursor:pointer;
}
.selected-variation {
	border:2px solid #7fc241;
}
.selected-variation {
	position:relative;
}
.selected-variation:after {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 100%;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 9px solid #7fc241;
    clear: both;
    overflow: visible;
}
.design-variation-prev {
	position: absolute;
    top: 46%;
    left: -40px;
    z-index: 3;
    width: 25px;
    height: 25px;
    background: url(../images/variation-arrow-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor:pointer;
}
.design-variation-prev:hover {
	background: url(../images/variation-arrow-left-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.design-variation-next {
	position: absolute;
    top: 46%;
    right: -40px;
    z-index: 3;
    width: 25px;
    height: 25px;
    background: url(../images/variation-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor:pointer;
}
.design-variation-next:hover {
	background: url(../images/variation-arrow-right-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.owl-carousel .owl-stage-outer {
    padding-top: 12px;
}

.super-custom-holder {
	position:relative;
	width: 85%;
	padding-top: 25px;
    padding-bottom: 20px;
}
.inf {
	width: 21px;
    height: 21px;
    background: url(../images/info-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    right: 22px;
	top:40%;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor:pointer;
}
.inf:hover {
	background: url(../images/info-icon-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.super-custom-holder .tooltip.bottom .tooltip-arrow {
	top: -12px;
    margin-left: 0;
    border-width: 0 6px 12px;
    border-bottom-color: #ccc;
    left: 84.7%!important;
}
.super-custom-holder .tooltip.bottom .tooltip-arrow:after {
	content: '';
    position: absolute;
    left: -5px;
    right: 0;
    margin: 0 auto;
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #fff;
}
.super-custom-holder .tooltip.bottom {
	border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    left: 0!important;
    background: #fff;
    margin-top: 13px;
	font-size: 16px;
	color: #717171;
	font-family: 'gibsonlight';
	
}
.super-custom-holder .tooltip-inner {
	max-width:100%;
	padding: 3px 15px;
	text-align:left;
}
.super-custom-holder {
	border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
	padding: 15px 1px 15px 45px;
	background: #717171;
    /*/padding: 15px;/*/
	margin-top: 25px;
	/*/Edited by Nicco/*/
}
.tgen-tab-holder {
	border:1px solid #ccc;
	border-radius: 0 0 5px 5px;
    border-top: 0;
	width: 85%;
}
.tgen-tab-holder .tab-content {
	border-radius: 0px 0px 5px 5px;
}
.tgen-tab-holder .tab-content .tab-pane {
	background:#fff;
	padding:15px;
	border-radius: 0px 0px 5px 5px;
}
.tgen-tab-holder .tab-content .active {
	background:#ebebeb;
}
.tgen-tab-holder .nav-tabs>li:nth-child(1) a {
	border-radius: 4px 0px 0 0;
}
.tgen-tab-holder .nav-tabs>li:nth-child(2) a {
	border-radius:0;
}
.tgen-tab-holder .nav-tabs>li:nth-child(3) a {
	border-radius: 0px 4px 0 0;
}
.tgen-tab-holder .nav-tabs>li {
	width: 33.3%;
}
.tgen-tab-holder .nav-tabs>li>a {
    margin-right: 0px;
	color:#a0a0a0;
	padding:13px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background:#ebebeb;
	color:#636363;
}

.style-holder-outer {
	padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.style-label {
	border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.style-holder-inner {
	padding-top: 10px;
    min-height: 300px;
    height: 300px;
    overflow-y: auto;
}
.style-holder-item {
	position: relative;
    float: left;
    width: 42.8%;
    border: 2px solid #ccc;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
	cursor:pointer;
	background:#fff;
}
.style-holder-active {
	border: 2px solid #7fc241;
}
/* .blank-style {
	width:100%;
	height:100%;
} */
.remove-style-btn-holder {
	position: absolute;
    z-index: -1;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 2px;
	filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	opacity:0;
}
.remove-style-btn-active {
	z-index:1;
	opacity:1;
}
.addstyle-holder-item {
	position: relative;
    float: left;
    width: 42.8%;
	height: 42.8%;
	background: transparent url(../images/add-more-style.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
	border: 2px solid #ccc;
    border-style: dashed;
	cursor:pointer;
	margin-bottom: 10px;
	margin-right: 20px;
}

.custom-select {
	height: 40px;
	cursor:pointer;
	position:relative;
}
.custom-circle {
	position: relative;
    top: 2px;
    left: -7px;
    border: 1px solid #b8b8b8;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    background: gray;
}
.custom-select-arrow {
	color:#a0a0a0;
	font-size: 5px;
    position: relative;
    top: 12px;
    right: 2px;
}
.color-primary, .color-secondary {
	width: 100%;
    position: absolute;
    padding: 0;
    left: 0;
    top: 105%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
    padding: 8px;
    margin: 0;
	display:none;
}
.col-selection {
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    background: #333;
    border-radius: 200px;
	border: 1px solid #b8b8b8;
}
.col-selection + .tooltip > .tooltip-inner, .shirt-col-selection + .tooltip > .tooltip-inner, .small-shirt-col + .tooltip > .tooltip-inner {
	background-color: #fff;
	border:1px solid #ccc;
}
.col-selection + .tooltip.top > .tooltip-arrow, .shirt-col-selection + .tooltip.top > .tooltip-arrow, .small-shirt-col + .tooltip.top > .tooltip-arrow {
	border-top-color: #fff; /* black */
    background-repeat: no-repeat;
    background-position: center center;
}
.tooltip.top > .tooltip-arrow:before {
	content: '';
    position: absolute;
    left: -8px;
    right: 0;
    margin: 0 auto;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid #ccc;
}
.tooltip.top > .tooltip-arrow:after {
	content: '';
    position: absolute;
    left: -8px;
    right: 0;
    margin: 0 auto;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #fff;
}
.custom-label {
	margin-bottom:0;
	font-weight: normal;
}
.custom-input {
	height: 40px;
}
.custom-holder {
	overflow-y: auto;
    max-height: 383px;
	height: 383px;
    padding-right: 5px;
}

.custom-left-holder {
	width:50%;
	float:left;
	padding-right:10px;
	position:relative;
}
.custom-right-holder {
	width:50%;
	float:right;
	padding-left:10px;
	position:relative;
}
.decade-holder {
	width:32%;
	float:left;
	padding-right:15px;
}
.year-holder {
	width:30%;
	float:left;
}
.distress-holder {
	width:20%;
	float:left;
}
.icons-text-holder {
	height: 40px;
	padding: 8px 12px;
	position:relative;
	cursor:pointer;
}
.selected-icon {
	color: #a0a0a0;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 2px;
}
.icon-selector-holder {
	position: absolute;
    top: 82%;
    left: -1px;
    width: 100.5%;
    height: 200px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 1;
    border-radius: 4px;
    display: none;
    padding: 8px;
}
.icon-selector-inner {
	position: relative;
    border-top: 1px solid #ccc;
    height: 183px;
    overflow-y: auto;
}
.icon-toggle-list {
	list-style-type: none;
    padding: 10px;
}
ul.icon-toggle-list > li {
    list-style-type: none;
    float: left;
}

ul.icon-toggle-list > li:hover, .icon-style:hover {
	color: #b2b2b2;
	cursor:pointer;
}
.tgen-iconz {
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.icon-style {
    font-size: 26px;
    display: block;
    color: #535353;
    padding: 7px;
}
.tgen-tab-holder .tab-content .form-group {
	margin-bottom: 10px;
}
.tgen-btn-holder {
	border-top: 1px solid #ccc;
    padding-top: 14px;
}
.tgen-apply-btn {
	width: 112px;
}




.pattern-holder-outer {
	padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.pattern-label {
	border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
	text-transform: capitalize;
}
.pattern-holder-inner {
	padding-top: 10px;
    min-height: 300px;
    height: 300px;
    overflow-y: auto;
}
.pattern-holder-item {
	position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
	cursor: pointer;
	width: 27.9%;
}
.remove-pattern {
	position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    padding: 2px;
	filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	opacity:0;
	background: transparent url(../images/selected-button-active.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.remove-pattern-active {
	z-index:1;
	opacity:1;
}



.custom-shirtcol-label {
	padding-top: 15px;
	line-height: 20px;
    /* padding-bottom: 10px; */
}
.custom-shirtcol-holder {
	position:relative;
	width: 85%;
    
}
.shirt-col-selection {
	width:35px;
	height:35px;
	border:1px solid #ccc;
	display:inline-block;
	border-radius:4px;
	margin-right:3px;
	margin-bottom:3px;
	background: #ccc;
	cursor:pointer;
	position:relative;
}
.shirt-col-selection .selected {
	filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
    z-index: -1;
    background: transparent url(../images/selected-button-active.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: 24px;
    height: 100%;
    position: absolute;
	left:0;
	
}
.shirt-col-selection-active .selected {
	opacity:1;
	z-index:1;
}

.athletic {
	background: #b6b6b4 url(../images/heather-texture.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.denim {
	background: #304d6b url(../images/heather-texture.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.charcoal {
	background: #3c3c3a url(../images/heather-texture.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.ash {
	background: #e1dfdf url(../images/heather-texture.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.tgen-btn-holder2 {
	position:relative;
	width: 94%;
	padding-top:15px;
	margin-bottom: 15px;
}


/*************My collection Content****************/
.design-container {
	height: 100%;
	min-height:100%;
	top:0;
	padding-bottom: 7%;
}
.mycoll-item-holder {
	position: relative;
    height: 95%;
    /* min-height: 580px; */
    overflow-y: auto;
}
.mycoll-shirt-holder-item {
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding-top: 10px;
    padding-bottom: 10px;
	position:relative;
}
.empty-collection {
	margin-top:20px;
}
.mycoll-shirt-holder {
	position:relative;
	width:33%;
	float:left;
}
.mycoll-design-holder {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
	top: 20%;
    width: 24%;
}
.mycoll-color-holder-outer {
	float: left;
    width: 40%;
}
.mycoll-design-name, .mycoll-style-name {
	display:block;
}
.mycoll-color-label {
	padding-top: 5px;
}
.mycoll-color-holder-inner {
	padding-top: 2px;
    max-height: 63px;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.4s;
    overflow: hidden;
}
.mycoll-color-holder-inner-show {
	max-height: 220px;
}
.small-shirt-col {
	width: 21px;
    height: 21px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    margin-right: 1px;
    margin-bottom: 1px;
    background: #ccc;
}
.small-shirt-col {
    width: 21px;
    height: 21px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #ccc;
}
.mycoll-showmore {
	text-decoration:underline;
	-moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	cursor:pointer;
}
.mycoll-showmore:hover {
	color: #535353;
}
.mycoll-showall {
	color: #535353;
}

.mycoll-remove {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 28%;
    right: 10px;
    background: url(../images/remove-button-normal.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
    cursor: pointer;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1;
}
.mycoll-remove:hover {
    background: url(../images/remove-button-hover.png) center center no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}

/*************SCROLL**************/
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background:#fff;
	margin-left:10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#dcdcdc;
	margin-left:10px;
}


/*************My Collection Custom****************/
.design-cont-btn {
	border: 1px solid #e98b1d;
    width: 54px;
    height: 55px;
    position: absolute;
    left: -54px;
    top: 10.3%;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.dc-open {
    /* background: #f47522 url(../images/cart-collection-icon.png) 12px center no-repeat!important; */
    background-size: 20px;
	background-position: center center;
}
.dc-close {
    /* background: #f47522 url(../images/cart-collection-icon.png) 12px center no-repeat!important; */
    background-size: 20px;
	background-position: center center;
}
.tgen-cart-btn {
    right: 0;
    top: 40%;
	z-index:1;
	width: 68px;
    height: 68px;
	background: #f47522 url(../images/cart-collection-icon.png) 20px center no-repeat!important;
    background-size: 20px;    
	border-radius: 5px 0px 0px 5px;
    cursor: pointer;
	position: absolute;
	border: 1px solid #e98b1d;
	display:none;
}


.createorbuy-left {
	float:left;
	width:50%;
	padding:7%;
	padding-bottom:5%;
	background:#fff;
}
.createorbuy-right {
	float:left;
	width:50%;
	padding:7%;
	padding-bottom:5%;
	background:#f1f4f6;
}
.createorbuy-img-holder {
	padding-bottom: 30px;
}
.createorbuy-label-big {
	line-height: 32px;
    padding-bottom: 3px;
}
.createorbuy-label1 {
	padding-bottom: 60px;
}
.createorbuy-label2 {
	padding-bottom: 35px;
}
.createorbuy-btn-holder {
	padding-left:7%;
	padding-right:7%;
}



#wrap {
	width: 170px;
    overflow: hidden;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 20px;
	padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    box-shadow: #ccc 10px 1px 30px -8px;
	z-index: 4;
	transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
	border: 1px solid #ccc;
}
#wrap .custom-slider {
	height: 100%;
    overflow: hidden;
}
.custom-inner-hold {
	position:relative;
	height: 100%;
}
.vert-prev {
	height:34px;
	width:100%;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	background: #797979 url(../images/carousel-arrow-up.png) center center no-repeat;
	cursor:pointer;
}
.vert-next {
	height:34px;
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;

	background: #797979 url(../images/carousel-arrow-down.png) center center no-repeat;
	cursor:pointer;
}
.slick-arrow.slick-hidden {
    display: block!important;
}
#wrap .slide {
	border: 2px solid #ccc;
    /* background: #f9f9f9; */
    padding: 16px;
   /*  padding-top: 25px;
    padding-bottom: 25px; */
	cursor:pointer;
	position:relative;
}
.add-more-slide {
	background: #fff;
    border: 1px solid #ccc!important;
    border-style: dashed!important;
    text-align: center;
    width: 100%;
    height: 22.8%;
    right: 0;
    position: absolute!important;
    bottom: 5px;
	background: #fff url(../images/add-more-designs-large.png) center center no-repeat;
	background-size:65%;
	cursor:pointer;
}
.slide span {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:  rgba(0, 0, 0, 0.5) url(../images/large-remove-button.png) center center no-repeat;
	background-size: 33%;
	z-index:-1;
	opacity: 0;
    filter: alpha(opacity=0);
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
#wrap .selected {
	border: 2px solid #7fc241;
}

#wrap .selected span {
	z-index:1;
	opacity: 1;
    
}
#wrap .selected span:hover {
	background:  rgba(0, 0, 0, 0.5) url(../images/large-remove-button-hover.png) center center no-repeat;
	background-size: 33%;
}

#wrap .selected span:after {
    content: '';
    position: absolute;
    top: 40%;
    right: -10px;
    width: 0;
    height: 0;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-left: 9px solid #7fc241;
    clear: both;
    overflow: visible;
}

.super-custom-container {
	background: #fff;
	position: fixed;
	top: 0;
	height:100%;
	right: -450px;
	border: 1px solid #ccc;
	transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	z-index: 0;
}
.super-custom-container-scroll {
	/* overflow-y: auto;
	height:95%; */
}
.scc-show {
	right:0!important;
}

.slider-overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	margin:0 auto;
	background:rgba(0,0,0,0.7);
	display:none;
	z-index:5;
}
.close-collection-slider {
	position: absolute;
    top: 11px;
    right: 13px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: 25px;
	display:none;
}
.close-sc-slider-cont {
	position: relative;
    padding-bottom: 42px;
    border-bottom: 1px solid #e1dfdf;
	display:none;
}
.close-sc-slider {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    color: #aaa;
    font-size: 25px;
}
.footer {
	display:none;
}
.stop-adding {
	opacity:0.5;
	cursor:not-allowed;
}
.sliderdesign-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
	background:#000;
}

.no-click {
    cursor: not-allowed;
}

.no-click > * {
    pointer-events:none;
}

@media screen and (min-width: 320px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 8px;
		padding-bottom: 8px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 5px;
		/* padding-top: 15px;
		padding-bottom: 15px; */
	}
	.custom-inner-hold {
		width: 80%;
	}
	.add-more-slide {
		width: 24%;
		height: 100%;
		right: -25%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 32%;
	}
	.tgen-icon-holder {
		width: 68px;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 30px;
		height: 30px;
	}
	.tgen-icon-label {
		font-size: 11px;
	}
	.tgen-icon-label2 {
		font-size: 11px;
		width: 68px;
	}
	.vert-prev {
		height: 100%;
		width: 25px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
		background-size: 18px;
	}
	.vert-next {
		height: 100%;
		width: 25px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
		background-size: 18px;
	}
	.tgen-variation-slider {
		margin-left: 19%;
		margin-right: 19%;
	}
	.super-custom-container {
		position: fixed;
		top: 0;
		right: -100%;
		max-width: 100%;
		z-index:7;
		padding-bottom: 22%;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:100%;
	}
	.super-custom-holder img {
		width:80%;
	}
	.inf {
		right: 44px;
		top: 35%;
	}
	.super-custom-btn, .tgen-cart-btn, .close-collection-slider, .close-sc-slider-cont {
		display:block;
	}
	.design-cont-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 32%;
	}
	
	.pattern-holder-inner {
		min-height: 160px;
		height: 160px;
	}
	.pattern-holder-item {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.style-holder-inner {
		min-height: 200px;
		height: 200px;
	}
	.style-holder-item {
		margin-right: 10px;
	}
	.remove-style-btn-holder {
		width: 30px;
		height: 30px;
	}
	.shirt-col-selection {
		width: 33px;
		height: 33px;
	}
	.col-selection {
		width:19px;
		height:19px;
	}
	.distress-holder {
		width:33%;
	}
}
@media screen and (min-width: 480px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 10px;
		/* padding-top: 20px;
		padding-bottom: 20px; */
	}
	.custom-inner-hold {
		width: 80%;
	}
	.add-more-slide {
		width: 24%;
		height: 100%;
		right: -25%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 27%;
	}
	.tgen-icon-holder {
		width: 68px;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 30px;
		height: 30px;
	}
	.tgen-icon-label {
		font-size: 11px;
	}
	.tgen-icon-label2 {
		font-size: 11px;
		width: 68px;
	}
	.vert-prev {
		height: 100%;
		width: 25px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
		background-size: 18px;
	}
	.vert-next {
		height: 100%;
		width: 25px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
		background-size: 18px;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position: fixed;
		top: 0;
		right: -450px;
		max-width: 450px;
		z-index:7;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:100%;
	}
	.super-custom-btn, .tgen-cart-btn, .close-collection-slider, .close-sc-slider-cont {
		display:block;
	}
	.design-cont-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 18%;
	}
	
	.pattern-holder-inner {
		min-height: 300px;
		height: 300px;
	}
	.pattern-holder-item {
		margin-right: 15px;
		margin-bottom: 15px;
	}
	
	.style-holder-inner {
		min-height: 300px;
		height: 300px;
	}
	.style-holder-item {
		margin-right: 20px;
	}
	.remove-style-btn-holder {
		width: 45px;
		height: 45px;
	}
	.shirt-col-selection {
		width: 35px;
		height: 35px;
	}
	.col-selection {
		width:24px;
		height:24px;
	}
	.distress-holder {
		width:20%;
	}
}
@media screen and (min-width: 640px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 10px;
		/* padding-top: 20px;
		padding-bottom: 20px; */
	}
	.custom-inner-hold {
		width: 80%;
	}
	.add-more-slide {
		width: 24%;
		height: 100%;
		right: -25%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 27%;
	}
	.tgen-icon-holder {
		width: 68px;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 30px;
		height: 30px;
	}
	.tgen-icon-label {
		font-size: 11px;
	}
	.tgen-icon-label2 {
		font-size: 11px;
		width: 68px;
	}
	.vert-prev {
		height: 100%;
		width: 25px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
		background-size: 18px;
	}
	.vert-next {
		height: 100%;
		width: 25px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
		background-size: 18px;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position: fixed;
		top: 0;
		right: -450px;
		max-width: 450px;
		z-index:7;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:100%;
	}
	.super-custom-btn, .tgen-cart-btn, .close-collection-slider, .close-sc-slider-cont {
		display:block;
	}
	.design-cont-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 14%;
	}
}
@media only screen and (min-width: 768px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 34px;
		padding-right: 34px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 16px;
		/* padding-top: 25px;
		padding-bottom: 25px; */
	}
	.custom-inner-hold {
		width: 80%;
	}
	.add-more-slide {
		width: 24%;
		height: 100%;
		right: -25%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 22%;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 100%;
		width: 34px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
	}
	.vert-next {
		height: 100%;
		width: 34px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 32%;
		margin-right: 32%;
	}
	.super-custom-container {
		position: fixed;
		top: 0;
		right: -450px;
		max-width: 450px;
		z-index:7;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:100%;
	}
	.super-custom-btn, .tgen-cart-btn, .close-collection-slider, .close-sc-slider-cont {
		display:block;
	}
	.design-cont-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 12%;
	}
}
@media screen and (min-width: 992px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 34px;
		padding-right: 34px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 16px;
		/* padding-top: 25px;
		padding-bottom: 25px; */
	}
	.custom-inner-hold {
		width: 80%;
	}
	.add-more-slide {
		width: 24%;
		height: 100%;
		right: -25%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 200px;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 100%;
		width: 34px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
	}
	.vert-next {
		height: 100%;
		width: 34px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position:relative;
		right: 0;
		top: 0;
		border:0;
		z-index:0;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:95%;
	}
	.super-custom-btn, .close-collection-slider, .close-sc-slider-cont {
		display:none;
	}
	.tgen-cart-btn {
		display:none;
	}
	.design-cont-btn {
		display:block;
	}
	
	.design-container{
		padding-bottom: 9%;
	}
}

@media screen and (min-width: 1024px) {
	#wrap {
		width: 100%;
		height: auto;
		bottom:0;
		position:fixed;
		box-shadow: none;
		padding: 0;
		padding-left: 34px;
		padding-right: 34px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: #333 0 -3px 30px -12px;
	}
	#wrap .slide {
		padding: 16px;
		/* padding-top: 25px;
		padding-bottom: 25px; */
	}
	.custom-inner-hold {
		width: 85%;
	}
	.add-more-slide {
		width: 17%;
		height: 100%;
		right: -17.4%;
		bottom: 0;
	}
	.tgen-content-holder {
		padding-left:0;
		padding-right:0;
		margin-bottom: 200px;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 100%;
		width: 34px;
		left:0;
		background: #797979 url(../images/carousel-arrow-left.png) center center no-repeat;
	}
	.vert-next {
		height: 100%;
		width: 34px;
		right:0;
		background: #797979 url(../images/carousel-arrow-right.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position:relative;
		right: 0;
		top: 0;
		border:0;
		z-index:0;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:95%;
	}
	.super-custom-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 8%;
	}
}

@media screen and (min-width: 1200px) {
	#wrap {
		width: 170px;
		top: 0;
		position: absolute;
		box-shadow: #ccc 10px -1px 30px -8px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.custom-inner-hold {
		width:100%;
	}
	.add-more-slide {
		width: 100%;
		height: 16.8%;
		right: 0;
		bottom: 0;
	}
	.tgen-content-holder {
		margin-bottom: 0;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-up.png) center center no-repeat;
	}
	.vert-next {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-down.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position:relative;
		right: 0;
		top: 0;
		border:0;
		z-index:0;
		padding-bottom: 0;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:95%;
	}
	.super-custom-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 8%;
	}
	.tgen-content-holder {
		width: 1010px;
		position: relative;
		right: -130px;
	}
}


@media screen and (min-width: 1280px) {
	#wrap {
		width: 170px;
		top: 0;
		position: absolute;
		box-shadow: #ccc 10px -1px 30px -8px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.custom-inner-hold {
		width:100%;
	}
	.add-more-slide {
		width: 100%;
		height: 16.8%;
		right: 0;
		bottom: 0;
	}
	.tgen-content-holder {
		margin-bottom: 0;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-up.png) center center no-repeat;
	}
	.vert-next {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-down.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position:relative;
		right: 0;
		top: 0;
		border:0;
		z-index:0;
		padding-bottom: 0;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:95%;
	}
	.super-custom-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 8%;
	}
	.tgen-content-holder {
		width: 1010px;
		position: relative;
		right: -135px;
	}
}


@media screen and (min-width: 1366px) {
	#wrap {
		width: 170px;
		top: 0;
		position: absolute;
		box-shadow: #ccc 10px -1px 30px -8px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.custom-inner-hold {
		width:100%;
	}
	.add-more-slide {
		width: 100%;
		height: 16.8%;
		right: 0;
		bottom: 0;
	}
	.tgen-content-holder {
		margin-bottom: 0;
	}
	.tgen-icon-holder {
		width: 75px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.tgen-zoom, .tgen-spec, .tgen-share, .tgen-sc {
		width: 40px;
		height: 40px;
	}
	.tgen-icon-label {
		font-size: 14px;
	}
	.tgen-icon-label2 {
		font-size: 14px;
		width: 84px;
	}
	.vert-prev {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-up.png) center center no-repeat;
	}
	.vert-next {
		height: 34px;
		width: 100%;
		background: #797979 url(../images/carousel-arrow-down.png) center center no-repeat;
	}
	.tgen-variation-slider {
		margin-left: 22%;
		margin-right: 22%;
	}
	.super-custom-container {
		position:relative;
		right: 0;
		top: 0;
		border:0;
		z-index:0;
		padding-bottom: 0;
	}
	.super-custom-holder, .tgen-tab-holder, .custom-shirtcol-holder {
		width:95%;
	}
	.super-custom-btn {
		display:none;
	}
	.design-container{
		padding-bottom: 8%;
	}
	.tgen-content-holder {
		width: 1010px;
	}
}

@media screen and (min-width: 1524px) {
	.tgen-content-holder {
		width: 1170px;
	}
	.add-more-slide {
		width: 100%;
		height: 22.8%;
		right: 0;
		bottom: 5px;
	}
}

@media screen and (min-width: 1680px) {
	.tgen-content-holder {
		width: 1170px;
	}
	.add-more-slide {
		width: 100%;
		height: 22.8%;
		right: 0;
		bottom: 5px;
	}
}
@media screen and (min-width: 1920px) {
	.tgen-content-holder {
		width: 1170px;
	}
	.add-more-slide {
		width: 100%;
		height: 22.8%;
		right: 0;
		bottom: 5px;
	}
}